@model IEnumerable<BucuriaDarului.Core.VolunteerContract>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ContractExp";
}

<h1>@Localizer["ContractExpiration"]</h1>

<br />
<button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Fullname"]
            </th>
            <th>
                @Localizer["NumberOfRegistration"]
            </th>
            <th>
                @Localizer["RegistrationDate"]
            </th>
            <th>
                @Localizer["ExpirationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRegistration)
                </td>
                <td>
                    @item.RegistrationDate.ToShortDateString()
                </td>
                <td>
                    @item.ExpirationDate.ToShortDateString()
                </td>
                <td>
                    <a href=@Url.Action( "Print", new { id = item.Id })><img src="~/Resources/print.jpg" width="40" height="40" title=@Localizer["Print"]></a>
                </td>
            </tr>
        }
    </tbody>
</table>