@model BucuriaDarului.Contexts.VolunteerContractContexts.VolunteerContractsMainDisplayIndexResponse

@{
    ViewData["Title"] = "Contracts";
    
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2 style="color:black">@Localizer["ContractsOf"] @Model.NameOfVolunteer </h2>

<p>
    <a href=@Url.Action("Index","Volunteer") class="btn btn-primary">@Localizer["BackToList"]</a>
    <a href=@Url.Action("Create", new {idOfVolunteer = Model.VolunteerId}) class="btn btn-primary"style="background-color: green; border-color: darkgreen" >@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["NumberOfRegistration"]
            </th>
            <th>
                @Localizer["RegistrationDate"]
            </th>
            <th>
                @Localizer["ExpirationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    <a href=@Url.Action( "Delete", new { id = item.Id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]></a>
                    <a href=@Url.Action( "Print", new { id = item.Id })><img src="~/Resources/print.jpg" width="40" height="40" title=@Localizer["Print"]></a>
                </td>
            </tr>
        }
    </tbody>
</table>