@model BucuriaDarului.Contexts.BeneficiaryContexts.ExportParameters
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "CSVExporter";

}
<head>
    <style>

        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
            /*background-color:lightgray*/
        }
    </style>
</head>
<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container emp-profile">
        <div>
            <h3 style="color: red">
                @ViewBag.message
            </h3>
        </div>
        <div class="row">
        <h3>
            @Localizer["Please choose what you want the Excel to contain"]:
        </h3>
            <div class="dropdown col-md-12" align="right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Select the properties"]:
                </button>
                <div class="dropdown-menu scrollable-menu col-md-12" align="right" aria-labelledby="dropdownMenuButton">
                    @Html.CheckBoxFor(model => model.All, htmlAttributes: new { @checked = true }) @Localizer["Check this for all fields"] <br />
                    @Html.CheckBoxFor(model => model.Fullname) @Localizer["Fullname"]<br />
                    @Html.CheckBoxFor(model => model.Active) @Localizer["Active"]<br />
                    @Html.CheckBoxFor(model => model.Canteen) @Localizer["Canteen"]<br />
                    @Html.CheckBoxFor(model => model.HomeDelivery) @Localizer["HomeDelivery"]<br />
                    @Html.CheckBoxFor(model => model.HomeDeliveryDriver) @Localizer["HomeDeliveryDriver"]<br />
                    @Html.CheckBoxFor(model => model.HasGDPRAgreement) @Localizer["HasGDPRagreement"]<br />
                    @Html.CheckBoxFor(model => model.Address) @Localizer["AddressInformation"]<br />
                    @Html.CheckBoxFor(model => model.CNP) @Localizer["CNP"]<br />
                    @Html.CheckBoxFor(model => model.CIInfo) @Localizer["CiInfo"]<br />
                    @Html.CheckBoxFor(model => model.Marca) @Localizer["Marca"]<br />
                    @Html.CheckBoxFor(model => model.IdInvestigation) @Localizer["IDinvestigation"]<br />
                    @Html.CheckBoxFor(model => model.IdApplication) @Localizer["IDapplication"]<br />
                    @Html.CheckBoxFor(model => model.NumberOfPortions) @Localizer["NumberOfPortions"]<br />
                    @Html.CheckBoxFor(model => model.LastTimeActive) @Localizer["LastTimeActive"]<br />
                    @Html.CheckBoxFor(model => model.PhoneNumber) @Localizer["PhoneNumber"]<br />
                    @Html.CheckBoxFor(model => model.BirthPlace) @Localizer["Birthplace"]<br />
                    @Html.CheckBoxFor(model => model.Studies) @Localizer["Studies"]<br />
                    @Html.CheckBoxFor(model => model.Profession) @Localizer["Profession"]<br />
                    @Html.CheckBoxFor(model => model.Occupation) @Localizer["Occupation"]<br />
                    @Html.CheckBoxFor(model => model.SeniorityInWorkField) @Localizer["SeniorityInWorkField"]<br />
                    @Html.CheckBoxFor(model => model.HealthState) @Localizer["HealthState"]<br />
                    @Html.CheckBoxFor(model => model.Disability) @Localizer["Disability"]<br />
                    @Html.CheckBoxFor(model => model.ChronicCondition) @Localizer["ChronicCondition"]<br />
                    @Html.CheckBoxFor(model => model.Addictions) @Localizer["Addictions"]<br />
                    @Html.CheckBoxFor(model => model.HealthInsurance) @Localizer["HasHealthInsurance"]<br />
                    @Html.CheckBoxFor(model => model.HealthCard) @Localizer["HasHealthCard"]<br />
                    @Html.CheckBoxFor(model => model.Married) @Localizer["Married"]<br />
                    @Html.CheckBoxFor(model => model.SpouseName) @Localizer["SpouseName"]<br />
                    @Html.CheckBoxFor(model => model.HasHome) @Localizer["HasHome"]<br />
                    @Html.CheckBoxFor(model => model.HousingType) @Localizer["HousingType"]<br />
                    @Html.CheckBoxFor(model => model.Income) @Localizer["Income"]<br />
                    @Html.CheckBoxFor(model => model.Expenses) @Localizer["Expenses"]<br />
                    @Html.CheckBoxFor(model => model.Gender) @Localizer["Gender"]<br />
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-3">
            <input type="submit" value=@Localizer["Create"] class="btn btn-primary" /> |
            <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["BackToList"]</a>
        </div>
    </div>
}