@model BucuriaDarului.Contexts.BeneficiaryContexts.ExportParameters
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "CSVExporter";

}
<head>
    <style>

        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
            /*background-color:lightgray*/
        }
    </style>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container emp-profile">
        <div>
            <h3 style="color:red">
                @ViewBag.message
            </h3>
        </div>
        <h3>
            @Localizer["Please insert a file name"]:
        </h3>
        <br />
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["FileName"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.FileName)
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <h3>
            @Localizer["Please choose what you want the Excel to contain"]:
        </h3>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6" style="color:red">
                        <label> @Localizer["Check this for all fields"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.All, htmlAttributes: new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["Fullname"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Fullname)
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Active"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Active)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Canteen"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Canteen)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>  @Localizer["HomeDelivery"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HomeDelivery)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["HomeDeliveryDriver"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HomeDeliveryDriver)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasGDPRAgreement"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HasGDPRAgreement)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["AddressInformation"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Address)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["CNP"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.CNP)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["CiInfo"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.CIInfo)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Marca"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Marca)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["IdInvestigation"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.IdInvestigation)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["IdApplication"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.IdApplication)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["NumberOfPortions"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.NumberOfPortions)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["LastTimeActive"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.LastTimeActive)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["PhoneNumber"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.PhoneNumber)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Birthplace"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.BirthPlace)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Studies"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Studies)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Profession"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Profession)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Occupation"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Occupation)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["SeniorityInWorkField"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.SeniorityInWorkField)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HealthState"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HealthState)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Disability"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Disability)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["ChronicCondition"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.ChronicCondition)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["Addictions"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Addictions)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>  @Localizer["HasHealthInsurance"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HealthInsurance)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasHealthCard"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HealthCard)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Married"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Married)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["SpouseName"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.SpouseName)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasHome"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HasHome)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["HousingType"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HousingType)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Income"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Income)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Expenses"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Expenses)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Gender"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Gender)
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["WeeklyPackage"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.WeeklyPackage)
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <input type="submit" value=@Localizer["Download"] class="btn btn-primary" /> |
            <button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
        </div>
    </div>
}