@model BucuriaDarului.Core.Beneficiary
@{
    ViewBag.Title = "Edit";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>
    @Localizer["Edit"]  @Localizer["Beneficiary"]
</h2>
<hr />
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function ShowImagePreview(input) {
            if (input.files && input.files[0]) {
                var filerd = new FileReader();
                filerd.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                }
                filerd.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <style>

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        h5 {
            color: #333;
        }

        h6 {
            color: #0062cc;
        }

        label {
            font-weight: 600;
            font-size: 15px;
        }
    </style>
</head>
<div>
    <h3 style="color: red">
        @ViewBag.message
    </h3>
</div>
<form method="post" action="/Beneficiary/Edit" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.Id, new { Id = Model.Id })
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=".emp-profile">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                @{
                    if (Model.Image != null)
                    {
                        var imageBase64 = Convert.ToBase64String(Model.Image);
                        var imagesrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imagesrc" id="image-preview" alt="uploaded image preview" style="width:150px;height:200px" />
                    }
                    else
                    {
                        <br />
                        <div class="col-10">
                            <div>
                                <br />
                                <img id="image-preview" alt="uploaded image preview" style="width:150px;height:200px" /><br />
                                <span asp-validation-for="Image"></span>
                            </div>
                        </div>
                    }
                }
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">@Localizer["UploadImage"]</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" asp-for="Image" onchange="ShowImagePreview(this)">
                        <label class="custom-file-label" for="inputGroupFile01"> @Localizer["ChooseImage"]</label><br />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <h4>
                    @Localizer["PersonalInformation"]:
                </h4>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Fullname"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Gender"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Localizer["Male"] @Html.RadioButtonFor(m => m.PersonalInfo.Gender, "Male")
                        @Localizer["Female"] @Html.RadioButtonFor(m => m.PersonalInfo.Gender, "Female")
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["CNP"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.CNP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CNP, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["BirthDate"]:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="date" name="PersonalInfo.Birthdate" value="@Model.PersonalInfo.Birthdate.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Birthdate, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["BirthPlace"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.BirthPlace, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["PhoneNumber"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.PhoneNumber, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Active"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["WeeklyPackage"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.WeeklyPackage)
                        </div>
                        @Html.ValidationMessageFor(model => model.WeeklyPackage, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["NumberOfPortions"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NumberOfPortions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumberOfPortions, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Canteen"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.Canteen)
                        </div>
                        @Html.ValidationMessageFor(model => model.Canteen, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HomeDelivery"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.HomeDelivery)
                        </div>
                        @Html.ValidationMessageFor(model => model.HomeDelivery, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HomeDeliveryDriver"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.HomeDeliveryDriver, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeDeliveryDriver, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["LastTimeActive"]:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="date" name="LastTimeActive" value="@Model.LastTimeActive.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.LastTimeActive, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Married"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Married, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Married, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["SpouseName"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.SpouseName, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.SpouseName, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Expenses"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Expenses, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Expenses, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Income"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Income, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Income, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Comments"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HasGDPRAgreement"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.HasGDPRAgreement)
                        </div>
                        @Html.ValidationMessageFor(model => model.HasGDPRAgreement, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["AddressInformation"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <br />
                <h4>
                    @Localizer["IdInformation"]:
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["HasID"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.CI.HasId)
                        </div>
                        @Html.ValidationMessageFor(model => model.CI.HasId, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>  @Localizer["IdInfo"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.CI.Info, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CI.Info, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["IdExpirationDate"]:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="date" name="CI.ExpirationDate" value="@Model.CI.ExpirationDate.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.CI.ExpirationDate, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <br />
                <h4>
                    @Localizer["MarcaDetails"]:
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Marca"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Marca.MarcaName, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca.MarcaName, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["IdApplication"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Marca.IdApplication, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca.IdApplication, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["IdContract"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Marca.IdContract, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca.IdContract, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["IdInvestigation"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Marca.IdInvestigation, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca.IdInvestigation, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <br />
                <h4>
                    @Localizer["HealthDetails"]:
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HasHealthCard"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.PersonalInfo.HealthCard)
                        </div>
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HealthCard, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["HasHealthInsurance"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.PersonalInfo.HealthInsurance)
                        </div>
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HealthInsurance, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HealthState"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.HealthState, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HealthState, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["ChronicCondition"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.ChronicCondition, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.ChronicCondition, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Addictions"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Addictions, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Addictions, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Disability"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Disability, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Disability, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <br />
                <h4>
                    @Localizer["HousingInformation"]:
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["HasHome"]:</label>
                    </div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.PersonalInfo.HasHome)
                        </div>
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HasHome, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["HousingType"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.HousingType, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HousingType, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <br />
                <h4>
                    @Localizer["StudiesAndJobRelatedInformation"]:
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Studies"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Studies, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Studies, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Occupation"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Occupation, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Occupation, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Profession"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.Profession, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Profession, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["SeniorityInWorkField"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PersonalInfo.SeniorityInWorkField, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonalInfo.SeniorityInWorkField, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="float:right; padding-bottom:7%">
            <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />|
            <button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
        </div>
    </div>
</form>