@model BucuriaDarului.Contexts.BeneficiaryContexts.BeneficiariesMainDisplayIndexResponse
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    int currentpage = ViewBag.Page;
    string stringofids = ViewBag.stringofids;
    string string1 = ViewBag.Filters1;
    string string2 = ViewBag.Filters2;
    string string3 = ViewBag.Filters3;
    string string4 = ViewBag.Filters4;
    string string5 = ViewBag.Filters5;
    string string6 = ViewBag.Filters6;
    string string7 = ViewBag.Filters7;
    string string8 = ViewBag.Filters8;
    string string9 = ViewBag.Filters9;
    string string10 = ViewBag.Filters10;
    string string11 = ViewBag.Filters11;
    string string12 = ViewBag.Filters12;
    string string13 = ViewBag.Filters13;
    string string14 = ViewBag.Filters14;
    string string15 = ViewBag.Filters15;
    string string16 = ViewBag.Filters16;
    string string17 = ViewBag.Filters17;
    string string18 = ViewBag.Filters18;
    string string19 = ViewBag.Filters19;
    string string20 = ViewBag.Filters20;
    string string21 = ViewBag.Filters21;
    string string22 = ViewBag.Filters22;
    string string23 = ViewBag.Filters23;
    string string24 = ViewBag.Filters24;
    string string25 = ViewBag.Filters25;
    string string26 = ViewBag.Filters26;
    string string27 = ViewBag.Filters27;
    string string28 = ViewBag.Filters28;
    string string29 = ViewBag.Filters29;
    string string30 = ViewBag.Filters30;
    string string31 = ViewBag.Filters31;

}
<head>
    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }
        .dropdown-menu {
            width: 500px !important;
        }
            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd; /* Gray */
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: red;
                    color: red;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<h2>
    @Localizer["Beneficiaries"] <small> (@Model.TotalBeneficiaries)</small>
</h2>

@using (Html.BeginForm("Index", "Beneficiary", FormMethod.Get))
{<div>

        <a href=@Url.Action( "Create")><img src="~/Resources/new_beneficiary.png" width="40" height="40" title=@Localizer["CreateNew"]></a>
        <a href=@Url.Action("CSVExporter")><img src="~/Resources/csv.png" width="40" height="40" title=@Localizer["ExportToCsv"]></a>
        <a href=@Url.Action("Import")><img src="~/Resources/import-csv.png" width="40" height="40" title=@Localizer["UploadFromCsv"]></a>

        <br />
    </div>
    <p>
        <div class="pagination">
            <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (@Model.TotalBeneficiaries / Model.PagingData.NrOfDocumentsPerPage) + 1;
                if (@Model.TotalBeneficiaries % Model.PagingData.NrOfDocumentsPerPage == 0 && @Model.TotalBeneficiaries != 0)
                {
                    maxpage--;
                }

                if (currentpage == 1)
                {
                    @Html.ActionLink("1", "Index", new { page = 1, sortOrder = ViewBag.SortOrder, searching = Model.FilterData.BeneficiaryName, hasContract = Model.FilterData.HasContract, active = Model.FilterData.Active, homeless = Model.FilterData.Homeless, lowerDate = Model.FilterData.LowerDate, upperDate = Model.FilterData.UpperDate, weeklyPackage = Model.FilterData.WeeklyPackage, canteen = Model.FilterData.Canteen, homeDelivery = Model.FilterData.HomeDelivery, searchingDriver = Model.FilterData.SearchingDriver, HasGDPRAgreement = Model.FilterData.HasGDPRAgreement, searchingAddress = Model.FilterData.SearchingAddress, hasID = Model.FilterData.HasID, searchingNumberOfPortions = Model.FilterData.SearchingNumberOfPortions, searchingComments = Model.FilterData.SearchingComments, searchingBirthPlace = Model.FilterData.SearchingBirthPlace, searchingStudies = Model.FilterData.SearchingStudies, searchingPO = Model.FilterData.SearchingPO, searchingSeniority = Model.FilterData.SearchingSeniority, searchingHealthState = Model.FilterData.SearchingHealthState, searchingAddictions = Model.FilterData.SearchingAddictions, searchingMarried = Model.FilterData.SearchingMarried, searchingHealthInsurance = Model.FilterData.SearchingHealthInsurance, searchingHealthCard = Model.FilterData.SearchingHealthCard, searchingHasHome = Model.FilterData.SearchingHasHome, searchingIncome = Model.FilterData.SearchingIncome, searchingExpences = Model.FilterData.SearchingExpences, gender = Model.FilterData.Gender, activeTill = Model.FilterData.ActiveTill, activeSince = Model.FilterData.ActiveSince }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "Index", new { page = 1, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage >= 5)
                {
                    @Html.ActionLink("<<", "Index", new { page = currentpage - 1, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage > 3)
                {
                    @Html.ActionLink((currentpage - 2).ToString(), "Index", new { page = currentpage - 2, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage > 2)
                {
                    @Html.ActionLink((currentpage - 1).ToString(), "Index", new { page = currentpage - 1, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage != 1 && currentpage != maxpage)
                {
                    @Html.ActionLink(currentpage.ToString(), "Index", new { page = currentpage, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if (currentpage < maxpage - 1)
                {
                    @Html.ActionLink((currentpage + 1).ToString(), "Index", new { page = currentpage + 1, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage < maxpage - 2)
                {
                    @Html.ActionLink((currentpage + 2).ToString(), "Index", new { page = currentpage + 2, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (currentpage < maxpage - 3)
                {
                    @Html.ActionLink(">>", "Index", new { page = currentpage + 1, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
                if (maxpage != 1 && currentpage == maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, sortOrder = ViewBag.SortOrder, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, Weeklypackage = ViewBag.Weeklypackage, Canteen = ViewBag.Canteen, HomeDelivery = ViewBag.HomeDelivery, searchingDriver = ViewBag.searchingDriver, HasGDPRAgreement = ViewBag.HasGDPRAgreement, searchingAddress = ViewBag.searchingAddress, HasID = ViewBag.HasID, searchingNumberOfPortions = ViewBag.searchingNumberOfPortions, searchingComments = ViewBag.searchingComments, searchingBirthPlace = ViewBag.searchingBirthPlace, searchingStudies = ViewBag.searchingStudies, searchingPO = ViewBag.searchingPO, searchingSeniority = ViewBag.searchingSeniority, searchingHealthState = ViewBag.searchingHealthState, searchingAddictions = ViewBag.searchingAddictions, searchingMarried = ViewBag.searchingMarried, searchingHealthInsurance = ViewBag.searchingHealthInsurance, searchingHealthCard = ViewBag.searchingHealthCard, searchingHasHome = ViewBag.searchingHasHome, searchingIncome = ViewBag.searchingIncome, searchingExpences = ViewBag.searchingExpences, gender = ViewBag.gender, activetill = ViewBag.Activetill, activesince = ViewBag.Activesince })
                }
            }
            </pre>
        </div>
    </p>
    <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["Show all beneficiaries"]</a>
    <br />
    @if (Model.FilterData.BeneficiaryName!= null)
    {
        <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Fullname"]:@Model.FilterData.BeneficiaryName
        </div>
    }
    @if (Model.FilterData.SearchingBirthPlace != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Birthplace"]:@Model.FilterData.SearchingBirthPlace
            :@Model.FilterData.Active
        </div>
    }
    @if (Model.FilterData.Active != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Active"]:
        </div>
    }
    @if (Model.FilterData.HasContract!= false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["HasContract"]
        </div>
    }

    @if (Model.FilterData.Homeless != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Homeless"]
        </div>
    }

    @if (Model.FilterData.WeeklyPackage != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Weeklypackage"]
        </div>
    }
    @if (Model.FilterData.Canteen!= false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Canteen"]
        </div>
    }

    @if (Model.FilterData.HomeDelivery != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Homedelivery"]
        </div>
    }

    @if (Model.FilterData.SearchingDriver != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Homedeliverydriver"]:@Model.FilterData.SearchingDriver
        </div>
    }

    @if (Model.FilterData.HasGDPRAgreement != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["HasGDPRagreement"]:@Model.FilterData.HasGDPRAgreement
        </div>
    }
    @if (Model.FilterData.SearchingAddress != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Address"]:@Model.FilterData.SearchingAddress
        </div>
    }

    @if (Model.FilterData.HasID != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["HasID"]
        </div>
    }

    @if (Model.FilterData.SearchingNumberOfPortions != 0)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
    @Localizer["Numberofportions"]:@Model.FilterData.SearchingNumberOfPortions
</div>
    }
    @if (string14 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Comments"]:@string14
        </div>
    }
    @if (string15 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Studies"]:@string15
        </div>
    }

    @if (string16 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Profesion&Ocupation"]:@string16
        </div>
    }
    @if (string17 != null)
    {
        <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Seniorityinworkfield"]:@string17
        </div>
    }

    @if (string18 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["HealthState&Disalility&ChronicCondition"]:@string18
        </div>
    }
    @if (string19 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Addictions"]: @string19
        </div>
    }
    @if (string20 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Married&SpouseName"]
        </div>
    }

    @if (string21 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Healthinsurance"]
        </div>
    }
    @if (string22 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Healthcard"]
        </div>
    }

    @if (string24 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Housingtype"]:@string24
        </div>
    }
    @if (string25 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Income"]:@string25
        </div>
    }

    @if (string26 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Expences"]:@string26
        </div>
    }
    @if (string27 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Gender"]:@string27
        </div>
    }

    @if (string28 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["BornAfter"]:@string13
        </div>
    }@if (string29 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["BornBefore"]:@string14
        </div>
    }@if (string30 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["Inntinf"]:@string15
        </div>
    }
    @if (string31 != null)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["intsuo"]:@string16
        </div>
    }
    <table class="table">

        <tr>
            <th>
                <a href=@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })>@Localizer["Fullname"]</a>

                @Html.TextBox("searching")
            </th>

            <th>
                <a href=@Url.Action("Index", new { sortOrder = ViewBag.Activesort, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })>@Localizer["Active"]</a>
                <dd class="col-sm-2">
                    @Html.CheckBox("Active")
                </dd>
            </th>
            <th>
                <dt>
                    <a href=@Url.Action("Index", new { sortOrder = ViewBag.Gendersort, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })>@Localizer["Gender"]</a>
                </dt>
                <dd></dd>
            </th>
            <th>
                @Localizer["Weeklypackage"]
                <dd class="col-sm-2">
                    @Html.CheckBox("Weeklypackage")
                </dd>
            </th>
            <th>
                @Localizer["Canteen"]
                <dd class="col-sm-2">
                    @Html.CheckBox("Canteen")
                </dd>
            </th>
            <th valign="top">
                <dt>
                    <a href=@Url.Action("Index", new { sortOrder = ViewBag.DateSortParm, searching = ViewBag.searching, HasContract = ViewBag.hascontract, Active = ViewBag.active, Homeless = ViewBag.Homeless, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })>@Localizer["Birthdate"]</a>
                </dt>
                <dd></dd>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        @Localizer["Filters"]:
                    </button>

                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        <dt class="col-sm-8">@Localizer["Homeless"]: </dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("Homeless")
                        </dd>

                        <dt class="col-sm-8">@Localizer["BornAfter"]: </dt>
                        <dd class="col-sm-2">
                            <input type="date" name="lowerdate">
                        </dd>
                        <dt class="col-sm-8">@Localizer["BornBefore"]: </dt>
                        <dd class="col-sm-2">
                            <input type="date" name="upperdate">
                        </dd>

                        <dt class="col-sm-8">@Localizer["HomeDelivery"]: </dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("HomeDelivery")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Homedeliverydriver"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingDriver")
                        </dd>
                        <dt class="col-sm-8">@Localizer["HasGDPRagreement"]:</dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("HasGDPRAgreement")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Address"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingAddress")
                        </dd>

                        <dt class="col-sm-8">@Localizer["HasID"]: </dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("HasID")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Numberofportions"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingNumberOfPortions")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Comments"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingComments")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Inntinf"]: </dt>
                        <dd class="col-sm-2">
                            <input type="date" name="activesince">
                        </dd>
                        <dt class="col-sm-8">@Localizer["intsuo"]: </dt>
                        <dd class="col-sm-2">
                            <input type="date" name="activetill">
                        </dd>
                        <dt class="col-sm-8">@Localizer["Birthplace"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingBirthPlace")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Studies"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingStudies")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Profesion&Ocupation"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingPO")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Seniorityinworkfield"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingSeniority")
                        </dd>
                        <dt class="col-sm-8">@Localizer["HealthState&Disalility&ChronicCondition"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingHealthState")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Addictions"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingAddictions")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Married&SpouseName"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingMarried")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Hashealthinsurance"]: </dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("searchingHealthInsurance")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Hashealthcard"]:</dt>
                        <dd class="col-sm-2">
                            @Html.CheckBox("searchingHealthCard")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Housingtype"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingHousingType")
                        </dd>

                        <dt class="col-sm-8">@Localizer["Income"]: </dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingIncome")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Expenses"]:</dt>
                        <dd class="col-sm-2">
                            @Html.TextBox("searchingExpences")
                        </dd>
                        <dt class="col-sm-8">@Localizer["Gender"]: </dt>
                        <dd class="col-sm-12">

                            <input type="radio" name="gender" value="All" text="All" checked="checked" />@Localizer["All"]
                            <input type="radio" name="gender" value="Male" text="Male" />@Localizer["Male"]
                            <input type="radio" name="gender" value="Female" text="Female" />@Localizer["Female"]
                        </dd>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Localizer["Search"]
                    </button>
                    <dd></dd>
                </div>
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["IndexMessage"]
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalInfo.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeeklyPackage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canteen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalInfo.Birthdate)
                    </td>

                    <td>
                        <a href=@Url.Action("Edit", new { id = item.Id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
                        <a href=@Url.Action("Details", new { id = item.Id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]></a> |
                        <a href=@Url.Action("Delete", new { id = item.Id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]></a>
                        <a href=@Url.Action("Contracts", new { id = item.Id })><img src="~/Resources/contract.jpg" width="40" height="40" title=@Localizer["Contracts"]></a>
                    </td>
                </tr>
            }}
    </table>
}