@model IEnumerable<BucuriaDarului.Core.Volunteer>
@{
    ViewBag.Title = "Birthday";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Birthdays"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Fullname"]
            </th>
            <th>
                @Localizer["Birthdate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @item.Birthdate.ToShortDateString()
                </td>
                <td>
                    <a href=@Url.Action( "Details", new { id = item.Id })><img src="~/Resources/detali.jpg" width="50" height="50" title="Details" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>