@model BucuriaDarului.Contexts.VolunteerContexts.ExportParameters
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ExcelExporter";
}
<head>
    <style>

        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
            /*background-color:lightgray*/
        }
    </style>
</head>

<form method="post" action="/Volunteer/ExcelExporter" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    <input id="StringOfIDs" name="StringOfIDs" type="hidden" value=@ViewBag.Ids />

    <div class="container emp-profile">
        <div>
            <h3 style="color:red">
                @ViewBag.message
            </h3>
        </div>
        <h3>
            @Localizer["PleaseInsertAFileName"]:
        </h3>
        <br />
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["FileName"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.FileName)
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <h3>
            @Localizer["PleaseChooseWhatYouWantTheExcelToContain"]:
        </h3>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6" style="color:red">
                        <label> @Localizer["CheckThisForAllFields"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBox("All", new { @checked = true, @class = "selectAll", @name = "All" })
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["Fullname"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Fullname, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Birthdate"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Birthdate, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Address"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Address, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>  @Localizer["Gender"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Gender, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label>@Localizer["DesiredArea"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.DesiredWorkplace, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["CNP"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.CNP, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["FieldOfActivity"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.FieldOfActivity, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Occupation"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Occupation, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasId"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HasId, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["IdInformation"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.IdInfo, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["IdExpirationDate"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.IdExpirationDate, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Active"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.Active, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HourCount"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HourCount, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["PhoneNumber"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.PhoneNumber, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["EmailAddress"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.EmailAddress, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasDrivingLicense"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.DriversLicense, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["HasCar"]:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.HasCar, new { @checked = true })
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <input type="submit" value=@Localizer["Download"] class="btn btn-primary" /> |
            <a href="./Index/@ViewBag.query" class="btn btn-primary">@Localizer["BackToList"]</a>
        </div>
    </div>
</form>
<script>
    $('.selectAll').click(function () {
        if ($(this).is(':checked')) {
            $('div input').attr('checked', true);
        }
        else {
            $('div input').attr('checked', false);
        }
    });
</script>