@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Import";
}
<html>
<head>
    <style>
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" > </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" > </script>

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
        }
    </style>
</head>
<br />
<br />
<br />
<h3 style="color:red">
    @ViewBag.message
</h3>
<br />
<body>
    <div class="emp-profile">
        <form action="./Import"
              enctype="multipart/form-data"
              method="post">
            <div class="row">
                <div class="col-md-3">
                    <h4><label for="files">@Localizer["Choose"]:</label></h4>
                </div>
                <div class="col-md-3">
                    <input type="file" id="myFile" name="files">
                </div>
            </div>
            <hr />
            <div class="col-md-9" style="padding-top: 2%;">
                <button type="button" class="buttonx" data-toggle="modal" data-target="#exampleModal">@Localizer["Upload"]</button>
            </div>

            <form method="post" asp-action="Import" asp-controller="Home">
                <div id="exampleModal" class="modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" tabindex="-1">
                    <div class="modal-dialog  modal-lg " role="document">
                        <div class="modal-content" sstyle="max-height: 90vh;">

                            <div class="modal-header">
                                <h5 class="modal-title">@Localizer["ImportOptions"]:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <br />
                            <div class="modal-body" style="text-align:left">
                                <div class="form-group">
                                    <div class=" row">
                                        <div class="col-md-7">
                                            @Localizer["Do you want to overwrite if some items already exist?"]
                                        </div>
                                        <div class="col-md-1"><input type="radio" name="overwrite" value="yes">@Localizer["Yes"]</div>
                                        <div class="col-md-1"></div> <input type="radio" name="overwrite" value="no" checked>@Localizer["No"]</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">@Localizer["Continue"]</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" buttonAction="cancelButton">@Localizer["Close"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>

            <div class="col-md-3" style="padding-top:2%;">
                <br />
                <a href="./Index/@ViewBag.query" class="btn btn-primary">@Localizer["BackToList"]</a>
            </div>
            <br />
            <div style="margin-top:15px">
                <output name="result"></output>
            </div>
        </form>
    </div>
</body>
</html>