@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "SynchronizationResults";
    string modifications = ViewBag.numberOfModifications;
    string deletions = ViewBag.numberOfDeletions;
    string outOfSyncDocuments = ViewBag.outOfSyncDocuments;

}
<head>
    <style>

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
        }
    </style>
</head>
<br />
<br />
<br />
<br />
<div class="emp-profile">
    <h1>
        @Localizer["SynchronizationResults"]
    </h1>
    <hr />
    <br />
    @if (Convert.ToInt64(modifications) >= 1)
    {
        <h3>
            @modifications @Localizer["DocumentsHaveBeenEdited/Created"]
        </h3>
    }
    @if (Convert.ToInt64(deletions) >= 1)
    {
        <h3>
            @deletions @Localizer["DocumentsHaveBeenDeleted"]
        </h3>
    }
    @if (Convert.ToInt64(deletions) == 0 && Convert.ToInt64(modifications) == 0)
    {
        <h3>
            @Localizer["NoDocumentsHaveBeenAddedTo"]
        </h3>
    }
    @if (outOfSyncDocuments.Length > 3)
    {
        <h3>@Localizer["TheFollowingDocumentsHaveBeenAlsoModified"]:</h3>
        <h4>@outOfSyncDocuments</h4>
    }
    <br />
    <div>
        <a href=@Url.Action( "Index","Home") class="btn btn-primary">@Localizer["Back"]</a>
    </div>
</div>