@model IEnumerable<BucuriaDarului.Web.Models.Beneficiarycontract>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ContractExp";
}

<h1>@Localizer["ContractExpirations"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Fullname"]
            </th>
            <th>
                @Localizer["NumberOfRegistration"]
            </th>
            <th>
                @Localizer["RegistrationDate"]
            </th>
            <th>
                @Localizer["ExpirationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    <a href=@Url.Action( "Print", new { id = item.Id })><img src="~/Resources/print.jpg" width="40" height="40" title=@Localizer["Print"]></a>
                </td>
            </tr>
        }
    </tbody>
</table>