@model BucuriaDarului.Web.Models.Beneficiarycontract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
    string idofbeneficiary = ViewBag.idofbeneficiary;
}
<h1>@Localizer["Create"] @Localizer["beneficiarycontract"]</h1>
<hr />
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
<form asp-action="Create">
    <input type="hidden" name="idofbeneficiary" value="@idofbeneficiary" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=" emp-profile">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <label>@Localizer["NumberOfRegistration"]:</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NumberOfRegistration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberOfRegistration, "", new { @class = "text-danger" })
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label> @Localizer["RegistrationDate"]:</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>@Localizer["ExpirationDate"]:</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />|
                    <a href=@Url.Action( "Index" ,new { idofbeneficiary }) class="profile-edit-btn" name="btnAddMore">@Localizer["BackToList"]</a>
                </div>
            </div>
        </div>
    </div>
</form>