@model BucuriaDarului.Contexts.BeneficiaryContractContexts.BeneficiaryContractsMainDisplayIndexResponse
@{
    ViewData["Title"] = "Contracts";

}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2 style="color:black">@Localizer["ContractsOf"] @Model.NameOfBeneficiary </h2>
<p>
    <a href="../Beneficiary/Index/@Model.Query" class="btn btn-primary">@Localizer["BackToList"]</a>
    <a href=@Url.Action("Create", new {idOfBeneficiary = Model.BeneficiaryId}) class="btn btn-primary" style="background-color: green; border-color: darkgreen">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["NumberOfRegistration"]
            </th>
            <th>
                @Localizer["RegistrationDate"]
            </th>
            <th>
                @Localizer["ExpirationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRegistration)
                </td>
                <td>
                    @item.RegistrationDate.ToShortDateString()
                </td>
                <td>
                    @item.ExpirationDate.ToShortDateString()
                </td>
                <td>
                    <a href=@Url.Action("DeleteDisplay", new { id = item.Id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]></a>
                    <a href=@Url.Action("Print", new { id = item.Id })><img src="~/Resources/print.jpg" width="40" height="40" title=@Localizer["Print"]></a>
                </td>
            </tr>
        }
    </tbody>
</table>