@model IEnumerable<Finalaplication.Models.Beneficiary>

@{
    ViewData["Title"] = "Contract Expiration";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>@Localizer["ContractExpiraton"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Firstname"]
            </th>
            <th>
                @Localizer["Lastname"]
            </th>
            <th>
                @Localizer["Active"]
            </th>
            <th>
                @Localizer["Expiration date"]
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.GetDayExpiration(item.Contract.ExpirationDate) == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
                    </td>
                    <td>
                        <a href=@Url.Action( "Details", new { id = item.BeneficiaryID })>@Localizer["Details"]</a>
                       
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
