@model IEnumerable<Finalaplication.Models.Beneficiary>

@{
    ViewData["Title"] = "Contract Expiration";
}

<h1>Contract Expiraton</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("First name")
            </th>
            <th>
                @Html.DisplayName("Last name")
            </th>
            <th>
                @Html.DisplayName("Active")
            </th>
            <th>
                @Html.DisplayName("Expiration date")
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    var Day = Finalaplication.Models.Volunteer.Nowdate();
    var volexp = Finalaplication.Models.Beneficiary.Benefxp(item);
    if ((Day <= volexp && Day + 20 > volexp) || (Day > 345 && 365 - (Day + 365 - Day - 2) >= volexp))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BeneficiaryID })
            </td>

        </tr>
    }
}
    </tbody>
</table>
