@model IEnumerable<Finalaplication.Models.Beneficiary>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "CSVSaver";
    string IDS = ViewBag.IDS;
}

<h1>CSVSaver</h1>

<head>
    <style>
        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>


@using (Html.BeginForm("CSVSaver", "Benrficiary/", FormMethod.Post))
{

    <h3>
        @Localizer["Please choose what you want the Excel to contain"]:
    </h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            @Localizer["Select the properties"]:

        </button>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> @Html.CheckBox("All", isChecked: true) @Localizer["Check this for all fields"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Fullname", isChecked: false)  @Localizer["Fullname"] </a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Active", isChecked: false) @Localizer["Active"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Canteen", isChecked: false)  @Localizer["Canteen"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HomeDelivery", isChecked: false) @Localizer["HomeDelivery"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HomeDeliveryDriver", isChecked: false)  @Localizer["Homedeliverydriver"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HasGDPRAgreement", isChecked: false) @Localizer["HasGDPRagreement"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Adress", isChecked: false) @Localizer["AddressInformation"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("CNP", isChecked: false) @Localizer["CNP"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("CI_Info", isChecked: false) @Localizer["CiInfo"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("marca", isChecked: false) @Localizer["Marca"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("IdInvestigation", isChecked: false)  @Localizer["IDinvestigation"] </a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("IdAplication", isChecked: false) @Localizer["IDapplication"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("NumberOfPortions", isChecked: false)  @Localizer["NumberOfPortions"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("BirthPlace", isChecked: false) @Localizer["Birthplace"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Studies", isChecked: false)  @Localizer["Studies"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Profesion", isChecked: false) @Localizer["Profession"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Ocupation", isChecked: false) @Localizer["Occupation"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("SeniorityInWorkField", isChecked: false) @Localizer["Seniorityinworkfield"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("HealthState", isChecked: false) @Localizer["Healthstate"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Disalility", isChecked: false) @Localizer["Disability"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("ChronicCondition", isChecked: false)  @Localizer["Chroniccondition"] </a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Addictions", isChecked: false) @Localizer["Addictions"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HealthInsurance", isChecked: false)  @Localizer["Hashealthinsurance"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HealthCard", isChecked: false) @Localizer["Hashealthcard"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Married", isChecked: false)  @Localizer["Married"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("SpouseName", isChecked: false) @Localizer["Spousename"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HasHome", isChecked: false) @Localizer["Hashome"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HousingType", isChecked: false) @Localizer["Housingtype"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("Income", isChecked: false) @Localizer["Income"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("Expences", isChecked: false) @Localizer["Expenses"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("Gender", isChecked: false) @Localizer["Gender"]</a>
        </div>
    </div>
    

    @Html.Hidden("IDS", IDS)

    <div class="row align-items-center">
        <div class="col-3">
            <br />
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Localizer["Export"]
            </button>

            <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["BackToList"]</a>

        </div>
    </div>
    <br />
}
<br />
