@model Finalaplication.Models.Beneficiary

@{
    ViewBag.Title = "Delete";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>
    @Localizer["Delete"]
</h1>

<h3>
    @Localizer["DeleteMessage"]
</h3>
<div>
    <h4>
        @Localizer["Beneficiary"]
    </h4>
    <hr />
    <h3>
        @Localizer["PersonalInformation"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Firstname"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Lastname"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Gender"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Gender)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Birthdate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Birthplace"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.BirthPlace)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Married"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Married)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Spousename"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.SpouseName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Active"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Weeklypackage"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weeklypackage)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Numberofportions"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPortions)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Canteen"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canteen)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Homedeliverydriver"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeDeliveryDriver)
        </dd>
        <dt class="col-sm-2">
            @Localizer["HasGDPRagreement"]?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasGDPRAgreement)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CNP"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Phonenumber"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Lasttimeactive"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastTimeActiv)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Income"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Income)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Expenses"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Expences)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Comments"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coments)
        </dd>
    </dl>
    <h3>
        @Localizer["AddressInformation"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["District"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress.District)
        </dd>
        <dt class="col-sm-2">
            @Localizer["City"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress.City)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Street"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress.Street)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Number"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress.Number)
        </dd>
    </dl>
    <h3>
        @Localizer["IDInformation"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["HasID"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CI.HasId)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CIseria"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CI.CIseria)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CINr"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CI.CINr)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CIEliberat"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CI.CIEliberat)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CIeliberator"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CI.CIeliberator)
        </dd>
    </dl>
   
   
    <h3>
        @Localizer["Marcadetails"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["IDapplication"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca.IdAplication)
        </dd>
       
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca.IdContract)
        </dd>
        <dt class="col-sm-2">
            @Localizer["IDinvestigation"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca.IdInvestigation)
        </dd>
    </dl>
    <h3>
        @Localizer["Healthdetails"]
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Hashealthinsurance"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.HealthInsurance)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Hashealthcard"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.HealthCard)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Healthstate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.HealthState)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Chroniccondition"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.ChronicCondition)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Addictions"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Addictions)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Disability"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Disalility)
        </dd>
    </dl>
    <h3>
        @Localizer["Housinginformation"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Hashome"]?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.HasHome)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Housingtype"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.HousingType)
        </dd>
    </dl>
    <h3>
        @Localizer["Studiesandjobrelatedinformation"]:
    </h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Studies"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Studies)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Occupation"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Ocupation)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Profession"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Profesion)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Seniorityinworkfield"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.SeniorityInWorkField)
        </dd>
    </dl>

    <div class="form-actions no-color">
        <span>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <span>
                    @using (Html.BeginForm("Edit", "Beneficiary/", FormMethod.Get))
                    {
                        <div class="form-group">
                            @Localizer["Makethisbeneficiaryinactive"]
                            @Html.CheckBox("Inactive", checked(true))
                            <br>
                            <input type="submit" class="btn btn-primary" value=@Localizer["Apply"] />
                        </div>
                    }

                </span>
                <style>
                    .button {
                        background-color: dodgerblue;
                        border: none;
                        color: white;
                        padding: 10px 28px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 14px;
                        margin: 4px 2px;
                        cursor: pointer;
                    }

                    .button1 {
                        border-radius: 12%;
                    }
                </style>
                <a href=@Url.Action( "Index" ) class="button button1">@Localizer["BackToList"]</a>
            </div>
            }


        </span>
    </div>
</div>

