@model Finalaplication.Models.Beneficiary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beneficiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canteen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canteen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeDeliveryDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeDeliveryDriver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasGDPR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasGDPR)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
