@model Finalaplication.Models.Beneficiary

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>

<h4>Beneficiary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Personal Information:</h4>
            <div class="form-group">
                First name:
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Last name:
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                CNP:
                <input asp-for="CNP" class="form-control" />
                <span asp-validation-for="CNP" class="text-danger"></span>
            </div>

            <div class="form-group">
                Birthdate
                <input asp-for="PersonalInfo.Birthdate" class="form-control" />
                <span asp-validation-for="PersonalInfo.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Birthplace
                <input asp-for="PersonalInfo.BirthPlace" class="form-control" />
                <span asp-validation-for="PersonalInfo.BirthPlace" class="text-danger"></span>
            </div>
            @using (Html.BeginForm("CheckRadio", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    Gender:

                    <br />
                    Male @Html.RadioButtonFor(m => m.PersonalInfo.Gender, "Male")
                    Female @Html.RadioButtonFor(m => m.PersonalInfo.Gender, "Female")
                </div>
            }
            <div class="form-group">
                Phone number
                <input asp-for="PersonalInfo.PhoneNumber" class="form-control" />
                <span asp-validation-for="PersonalInfo.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                Active:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                Weekley package:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Weeklypackage)
                        @Html.ValidationMessageFor(model => model.Weeklypackage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                Number of portions:
                <input asp-for="NumberOfPortions" class="form-control" />
                <span asp-validation-for="NumberOfPortions" class="text-danger"></span>
            </div>
            <div class="form-group">
                Last time activ:
                <input asp-for="LastTimeActiv" class="form-control" />
                <span asp-validation-for="LastTimeActiv" class="text-danger"></span>
            </div>
            <div class="form-group">
                Comments:
                <input asp-for="Coments" class="form-control" />
                <span asp-validation-for="Coments" class="text-danger"></span>
            </div>

            <div class="form-group">
                Canteen:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Canteen)
                        @Html.ValidationMessageFor(model => model.Canteen, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                Home delivery driver:
                <input asp-for="HomeDeliveryDriver" class="form-control" />
                <span asp-validation-for="HomeDeliveryDriver" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasGDPRAgreement" /> @Html.DisplayName("Has GDPR agreement?")
                </label>
            </div>
            <h4>Address Information:</h4>
            <div class="form-group">
                Country:
                <input asp-for="Adress.Country" class="form-control" />
                <span asp-validation-for="Adress.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                City:
                <input asp-for="Adress.City" class="form-control" />
                <span asp-validation-for="Adress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                Street:
                <input asp-for="Adress.Street" class="form-control" />
                <span asp-validation-for="Adress.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                Number:
                <input asp-for="Adress.Number" class="form-control" />
                <span asp-validation-for="Adress.Number" class="text-danger"></span>
            </div>

            <h4>ID Information:</h4>
            <div class="form-group">
                Has ID:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CI.HasId)
                        @Html.ValidationMessageFor(model => model.CI.HasId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                ID expiration date:
                <input asp-for="CI.ICExpirationDate" class="form-control" />
                <span asp-validation-for="CI.ICExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Married:
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PersonalInfo.Married)
                        @Html.ValidationMessageFor(model => model.PersonalInfo.Married, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                SpouseName:
                <input asp-for="PersonalInfo.SpouseName" class="form-control" />
                <span asp-validation-for="PersonalInfo.SpouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Expences:
                <input asp-for="PersonalInfo.Expences" class="form-control" />
                <span asp-validation-for="PersonalInfo.Expences" class="text-danger"></span>
            </div>
            <div class="form-group">
                Income:
                <input asp-for="PersonalInfo.Income" class="form-control" />
                <span asp-validation-for="PersonalInfo.Income" class="text-danger"></span>
            </div>

            <h4>Contract information:</h4>
            <div class="form-group">
                Has contract?
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Contract.HasContract)
                        @Html.ValidationMessageFor(model => model.Contract.HasContract, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                Number of registration:
                <input asp-for="Contract.NumberOfRegistration" class="form-control" />
                <span asp-validation-for="Contract.NumberOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                Registration date:
                <input asp-for="Contract.RegistrationDate" class="form-control" />
                <span asp-validation-for="Contract.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Expiration date:
                <input asp-for="Contract.ExpirationDate" class="form-control" />
                <span asp-validation-for="Contract.ExpirationDate" class="text-danger"></span>
            </div>



            <h4>Marca details:</h4>

            <div class="form-group">
                ID aplication:
                <input asp-for="Marca.IdAplication" class="form-control" />
                <span asp-validation-for="Marca.IdAplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                ID contract:
                <input asp-for="Marca.IdContract" class="form-control" />
                <span asp-validation-for="Marca.IdContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                ID investigation:
                <input asp-for="Marca.IdInvestigation" class="form-control" />
                <span asp-validation-for="Marca.IdInvestigation" class="text-danger"></span>
            </div>

            <h4>Health details:</h4>
            <div class="form-group">
                Has health card?
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PersonalInfo.HealthCard)
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HealthCard, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                Has health insurance?
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PersonalInfo.HealthInsurance)
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HealthInsurance, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                Health state:
                <input asp-for="PersonalInfo.HealthState" class="form-control" />
                <span asp-validation-for="PersonalInfo.HealthState" class="text-danger"></span>
            </div>
            <div class="form-group">
                Chronic Condition
                <input asp-for="PersonalInfo.ChronicCondition" class="form-control" />
                <span asp-validation-for="PersonalInfo.ChronicCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                Addictions:
                <input asp-for="PersonalInfo.Addictions" class="form-control" />
                <span asp-validation-for="PersonalInfo.Addictions" class="text-danger"></span>
            </div>
            <div class="form-group">
                Disalility:
                <input asp-for="PersonalInfo.Disalility" class="form-control" />
                <span asp-validation-for="PersonalInfo.Disalility" class="text-danger"></span>
            </div>


            <h4>Housing information:</h4>
            <div class="form-group">
                Has home?
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PersonalInfo.HasHome)
                        @Html.ValidationMessageFor(model => model.PersonalInfo.HasHome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                HousingType:
                <input asp-for="PersonalInfo.HousingType" class="form-control" />
                <span asp-validation-for="PersonalInfo.HousingType" class="text-danger"></span>
            </div>


            <h4>Studies and job related information:</h4>
            <div class="form-group">
                Studies:
                <input asp-for="PersonalInfo.Studies" class="form-control" />
                <span asp-validation-for="PersonalInfo.Studies" class="text-danger"></span>
            </div>
            <div class="form-group">
                Occupation:
                <input asp-for="PersonalInfo.Ocupation" class="form-control" />
                <span asp-validation-for="PersonalInfo.Ocupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                Profession:
                <input asp-for="PersonalInfo.Profesion" class="form-control" />
                <span asp-validation-for="PersonalInfo.Profesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                Seniority in workfield:
                <input asp-for="PersonalInfo.SeniorityInWorkField" class="form-control" />
                <span asp-validation-for="PersonalInfo.SeniorityInWorkField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
