@model IEnumerable<Finalaplication.Models.Beneficiary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weeklypackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canteen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeDeliveryDriver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasGDPRAgreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPeriode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPortions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTimeActiv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weeklypackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canteen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeDeliveryDriver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGDPRAgreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractPeriode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPortions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTimeActiv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.BeneficiaryID  }) |
                @Html.ActionLink("Details", "Details", new { id = item.BeneficiaryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BeneficiaryID  })
            </td>
        </tr>
}
    </tbody>
</table>
