@model IEnumerable<Finalaplication.Models.Volunteer>

@{
    ViewBag.Title = "Contract Expiration";
}

<h2>Contract Expiration!</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First name")
        </th>
        <th>
            @Html.DisplayName("Last name")
        </th>
        <th>
            @Html.DisplayName("Birthdate")
        </th>
        <th>
            @Html.DisplayName("Number of registration")
        </th>
        <th>
            @Html.DisplayName("Registration date")
        </th>
        <th>
            @Html.DisplayName("Expiration date")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var Day = Finalaplication.Models.Volunteer.Nowdate();
        var volexp = Finalaplication.Models.Volunteer.Volexp(item);
        if ((Day <= volexp && Day + 20 > volexp) || (Day > 345 && 365 - (Day + 365 - Day - 2) >= volexp))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.NumberOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.VolunteerID })
                </td>
            </tr>
        }
    }

</table>