@model Finalaplication.Models.Volunteer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("First name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayName("Last name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayName("Birthdate:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayName("Number of registration:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.NumberOfRegistration)
        </dd>

        <dt>
            @Html.DisplayName("Active:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InActivity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <span>

               @* <input type="submit" value="Permanently delete" style="background-color:tomato" class="btn btn-default" /> |*@

                @using (Html.BeginForm("Edit", "Volunteer/", FormMethod.Get))
                {
                        <div class="form-group">
                            Make this volunteer inactive
                            @Html.CheckBox("Inactive", checked(true))
                            <br>
                            <input type="submit" class="btn btn-primary" value="Apply" />
                        </div>
                }

            </span>

            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>