@model Finalaplication.Models.Volunteer

@{
    ViewBag.Title = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2> @Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Volunteer"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Avatar:")
        </dt>
        <dd>
            @{
                if (Model.Image != null)
                {
                    var imageBase64 = Convert.ToBase64String(Model.Image);
                    var imagesrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="@imagesrc" style="width:20%;height:auto" />
                }
            }
        </dd>
        <dt>
            @Localizer["Firstname"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Localizer["Lastname"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Localizer["Birthdate"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Localizer["Gender"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Localizer["Active"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActivity)
        </dd>
        <dt>
            @Localizer["Country"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt>
            @Localizer["City"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Localizer["Street"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Localizer["Number"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Number)
        </dd>
        <dt>
            @Localizer["CNP"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt>
            @Localizer["Hascar"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasCar)
        </dd>
        <dt>
            @Localizer["Hasdrivinglicence"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasDrivingLicence)
        </dd>
        <dt>
            @Localizer["Remarks"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.Remark)
        </dd>
        <dt>
            @Localizer["Phone number"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)
        </dd>
        <dt>
            @Localizer["Emailaddress"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactInformation.MailAdress)
        </dd>
        <dt>
            @Localizer["Desiredarea"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desired_workplace)
        </dd>
        <dt>
            @Localizer["Field of activity"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Field_of_activity)
        </dd>
        <dt>
            @Localizer["Occupation"]:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Localizer["Hourcount"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourCount)
        </dd>



    </dl>
</div>
<p>
    <a href=@Url.Action( "Edit",  new { id = Model.VolunteerID })>@Localizer["Edit"]</a> |
    <a href=@Url.Action( "Delete",  new { id = Model.VolunteerID })>@Localizer["Delete"]</a>

    <a href=@Url.Action( "Index" )>@Localizer["BackToList"]</a>
</p>
