@model Finalaplication.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Avatar:")
        </dt>
        <dd>
            @{
                if (Model.Image != null)
                {
                    var imageBase64 = Convert.ToBase64String(Model.Image);
                    var imagesrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="@imagesrc" style="width:20%;height:auto" />
                }
            }
        </dd>
        <dt>
            @Html.DisplayName("First name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayName("Last name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
        <dt>
            @Html.DisplayName("CNP:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt>
            @Html.DisplayName("CI:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CI.CIseries)
        </dd>
        @Html.DisplayName("Birthdate:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayName("Gender:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayName("Active:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActivity)
        </dd>
        <dt>
            @Html.DisplayName("Country:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt>
            @Html.DisplayName("City:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayName("Street:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Html.DisplayName("Number:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Number)
        </dd>
        <dt>
            @Html.DisplayName("CNP:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt>
            @Html.DisplayName("Has car")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasCar)
        </dd>
        <dt>
            @Html.DisplayName("Has driving licence")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasDrivingLicence)
        </dd>
        <dt>
            @Html.DisplayName("Remarks:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.Remark)
        </dd>
        <dt>
            @Html.DisplayName("Phone number:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayName("Email address:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactInformation.MailAdress)
        </dd>
        <dt>
            @Html.DisplayName("Desired area:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desired_workplace)
        </dd>
        <dt>
            @Html.DisplayName("Field of activity:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Field_of_activity)
        </dd>
        <dt>
            @Html.DisplayName("Occupation:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayName("Hour count:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourCount)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.VolunteerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>