@model BucuriaDarului.Contexts.EventContexts.ExportParameters
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "CSVExporter";
}
<head>
    <style>

        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .dropdown-menu {
            width: 500px !important;
        }

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
        }
    </style>
</head>

<br />
<br />
<body>
    <form method="post" action="/Event/CsvExporter" enctype="multipart/form-data">
        <input id="StringOfIDs" name="StringOfIDs" type="hidden" value=@ViewBag.Ids />
        @Html.AntiForgeryToken()

        <div class="container emp-profile">
            <div>
                <h3 style="color:red">
                    @ViewBag.message
                </h3>
            </div>
            <h3>
                @Localizer["PleaseInsertAFileName"]:
            </h3>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["FileName"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.FileName)
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <h3>
                @Localizer["PleaseChooseWhatYouWantTheExcelToContain"]:
            </h3>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6" style="color:red">
                            <label> @Localizer["CheckThisForAllFields"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBox("IsChecked", new { @checked = true, @class = "selectAll", @name = "sample" })
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["NameOfEvent"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.NameOfEvent, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["PlaceOfEvent"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.PlaceOfEvent, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["DateOfEvent"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.DateOfEvent, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["TypeOfActivities"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.TypeOfActivities, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["TypeOfEvent"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.TypeOfEvent, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["Duration"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.Duration, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["AllocatedVolunteers"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.AllocatedVolunteers, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label> @Localizer["AllocatedSponsors"]:</label>
                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.AllocatedSponsors, new { @checked = true })
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="submit" value=@Localizer["Download"] class="btn btn-primary" /> |
                    <a href="./Index/@ViewBag.query" class="btn btn-primary">@Localizer["BackToList"]</a>
                </div>
            </div>
        </div>
    </form>
</body>

<script>
    $('.selectAll').click(function () {
        if ($(this).is(':checked')) {
            $('div input').attr('checked', true);
        }
        else {
            $('div input').attr('checked', false);
        }
    });
</script>