@model BucuriaDarului.Contexts.EventContexts.ExportParameters
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "CSVExporter";
}
<head>
    <style>

        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .dropdown-menu {
            width: 500px !important;
        }

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
            /*background-color:lightgray*/
        }
    </style>
</head>
<br />
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container emp-profile">
    <div>
        <h3 style="color:red">
            @ViewBag.message
        </h3>
    </div>
    <h3>
        @Localizer["Please insert a file name"]:
    </h3>
    <br />
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["FileName"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.FileName)
                    <hr />
                </div>

            </div>
        </div>

    </div>
    <h3>
        @Localizer["Please choose what you want the Excel to contain"]:
    </h3>
    <br />
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["Check this for all fields"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.CheckBoxFor(model => model.All, htmlAttributes: new { @checked = true })
                    <hr />
                </div>

            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["NameOfEvent"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.NameOfEvent)
                    <hr />
                </div>

            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["PlaceOfEvent"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.PlaceOfEvent)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["DateOfEvent"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateOfEvent)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["TypeOfActivities"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TypeOfActivities)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["TypeOfEvent"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TypeOfEvent)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["Duration"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Duration)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["AllocatedVolunteers"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.AllocatedVolunteers)
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <label> @Localizer["AllocatedSponsors"]:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.AllocatedSponsors)
                    <hr />
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <input type="submit" value=@Localizer["Download"] class="btn btn-primary" /> |
            <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["BackToList"]</a>
        </div>
    </div>

</div>
}
