@model BucuriaDarului.Core.Event
@{
    ViewBag.Title = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>
    @Localizer["Details"] @Localizer["Event"]
</h2>
<hr />
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
<div class="emp-profile">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6"><label>@Localizer["NameOfEvent"]:</label></div>
                <div class="col-md-6"> @Html.DisplayFor(model => model.NameOfEvent)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["PlaceOfEvent"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.PlaceOfEvent)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["DateOfEvent"]:</label></div>
                <div class="col-md-6">
                    @if (Model.DateOfEvent > DateTime.MinValue.AddYears(3))
                    {@Model.DateOfEvent.ToShortDateString()}<hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["NumberOfVolunteersNeeded"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.NumberOfVolunteersNeeded)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["TypeOfActivities"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.TypeOfActivities)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["TypeOfEvent"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.TypeOfEvent)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["Duration"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.Duration)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["AllocatedVolunteers"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.AllocatedVolunteers)<hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>@Localizer["AllocatedSponsors"]:</label></div>
                <div class="col-md-6">@Html.DisplayFor(model => model.AllocatedSponsors)<hr /></div>
            </div>
        </div>
        <div class="col-md-3">
            <a href=@Url.Action( "Edit", new { id =  Model.Id})><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
            <a href="./Index/@ViewBag.query" class="btn btn-primary">@Localizer["BackToList"]</a>
        </div>
    </div>
</div>