@model BucuriaDarului.Core.Event
@{
    ViewBag.Title = "Edit";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>
    @Localizer["Edit"]  @Localizer["Event"]
</h2>
<hr />
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
<div>
    <h3 style="color: red">
        @ViewBag.message
    </h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Id, new { Id = Model.Id })
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["NameOfEvent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NameOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NameOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["PlaceOfEvent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PlaceOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlaceOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["DateOfEvent"]:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="date" name="DateOfEvent" value="@Model.DateOfEvent.ToString("yyyy-MM-dd")"/>
                        @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>  @Localizer["NumberOfVolunteersNeeded"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NumberOfVolunteersNeeded, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumberOfVolunteersNeeded, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["TypeOfActivities"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TypeOfActivities, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeOfActivities, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["TypeOfEvent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TypeOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Duration"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary" /> |
                <button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
            </div>
        </div>
    </div>
}