@model IEnumerable<Finalaplication.Models.Event>
@{
    ViewBag.Title = "Events";
    int currentpage = ViewBag.Page;
    string stringofids = ViewBag.stringofids;
    string string1 = ViewBag.Filter1;
    string string2 = ViewBag.Filter2;
    string string3 = ViewBag.Filter3;
    string string4 = ViewBag.Filter4;
    string string5 = ViewBag.Filter5;
    string string6 = ViewBag.Filter6;
    string string7 = ViewBag.Filter7;
    string string8 = ViewBag.Filter8;
}

@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
<head>
    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd;
                transition: background-color .3s;
            }
        .dropdown-menu {
            width: 500px !important;
        }

                .pagination a.active {
                    background-color: red;
                    color: red;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:current {
                    background-color: red;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>

<h2>
    @Localizer["Events"] <small> (@ViewBag.counter)</small>
</h2>

@using (Html.BeginForm("Index", "Event", FormMethod.Get))
{

    <a href=@Url.Action( "Create")><img src="~/Resources/new_event.png" width="40" height="40" title=@Localizer["CreateNew"]></a>

    <a href=@Url.Action("CSVSaver")><img src="~/Resources/csv.png" width="40" height="40" title=@Localizer["ExportToCsv"]></a>

    <a href=@Url.Action( "Import")><img src="~/Resources/import-csv.png" width="40" height="40" title=@Localizer["UploadFromCsv"]></a>
    <br />

    <p>
        <div class="pagination">
            <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (ViewBag.counter / ViewBag.nrofdocs) + 1;
                if (ViewBag.counter % ViewBag.nrofdocs == 0 && ViewBag.counter != 0)
                {
                    maxpage--;
                }

                if(currentpage==1)
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = ViewBag.searching, searchingPlace= ViewBag.Place, searchingActivity = ViewBag.Activity , searchingType= ViewBag.Type ,  searchingVolunteers= ViewBag.Volunteer, searchingSponsor= ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage>=5)
                {
                    @Html.ActionLink("<<", "Index", new { page = currentpage-1, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage>3)
                {
                    @Html.ActionLink((currentpage-2).ToString(), "Index", new { page = currentpage-2, searching = ViewBag.searching,  searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage>2)
                {
                    @Html.ActionLink((currentpage-1).ToString(), "Index", new { page = currentpage-1, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage!=1 && currentpage!= maxpage)
                {
                    @Html.ActionLink(currentpage.ToString(), "Index", new { page = currentpage, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(currentpage<maxpage-1)
                {
                    @Html.ActionLink((currentpage+1).ToString(), "Index", new { page = currentpage+1, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage<maxpage-2)
                {
                    @Html.ActionLink((currentpage+2).ToString(), "Index", new { page = currentpage+2, searching = ViewBag.searching, searchingPlace = ViewBag.Place, searchingActivity = ViewBag.Activity, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                if(currentpage<maxpage-3)
                {
                    @Html.ActionLink(">>", "Index", new { page = currentpage+1, searching = ViewBag.searching, searchingActivity = ViewBag.Activity,  searchingPlace = ViewBag.Place, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
                 if(maxpage!=1 && currentpage==maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = ViewBag.searching, searchingActivity = ViewBag.Activity,  searchingPlace = ViewBag.Place, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = ViewBag.searching, searchingActivity = ViewBag.Activity, searchingPlace = ViewBag.Place, searchingType = ViewBag.Type, searchingVolunteers = ViewBag.Volunteer, searchingSponsor = ViewBag.Sponsor, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate })
                }
            }
            </pre>
        </div>
    </p>
}
@using (Html.BeginForm("Index", "Event", FormMethod.Get))
{<a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["Show all events"]</a>

<br />
@if (string1 != null)
{
    <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Nameofevent"]:@string1
    </div>
}
@if (string2 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Placeofevent"]:@string2
        :@string2
    </div>
}
@if (string3 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Typeofactivities"]: @string3
    </div>
}
@if (string4 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Typeofevent"]:@string4
    </div>
}
@if (string5 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Allocatedvolunteers"]:@string5
    </div>
}
@if (string6 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Allocatedsponsors"]:@string6
    </div>
}
@if (string7 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Inntinf"]:@string7
    </div>
}

@if (string8 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["intsuo"]:@string8
    </div>
}
<table class="table">
    <tr>
        <th>
            @Localizer["Nameofevent"]:

            @Html.TextBox("searching")
        </th>

        <th>
            @Localizer["Dateofevent"]:
        </th>
        <th>
            @Localizer["Numberofvolunteersneeded"]:
        </th>
        <th>
            @Localizer["Currentlyallocated"]:
        </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    @Localizer["Filters"]:
                </button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">

                    <dt class="col-sm-6">@Localizer["Placeofevent"]:</dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("searchingPlace")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Typeofactivities"]: </dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("searchingActivity")
                    </dd>

                    <dt class="col-sm-6">@Localizer["Typeofevent"]: </dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("searchingType")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Allocatedvolunteers"]: </dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("searchingVolunteers")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Allocatedsponsors"]:</dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("searchingSponsor")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Inntinf"]: </dt>
                    <dd class="col-sm-2">
                        <input type="date" name="lowerdate">
                    </dd>
                    <dt class="col-sm-6">@Localizer["intsuo"]: </dt>
                    <dd class="col-sm-2">
                        <input type="date" name="upperdate">
                    </dd>
                </div>

                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Localizer["Search"]
                </button>
            </div>
        </th>

        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3 " style="color:red">
                @Localizer["IndexMessage"]
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfEvent)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfVolunteersNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberAllocatedVolunteers)
                </td>

                <td>

                    <a href=@Url.Action("Edit", new { id = item._id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
                    <a href=@Url.Action("Details", new { id = item._id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]></a> |
                    <a href=@Url.Action("Delete", new { id = item._id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]> </a>|
                    <a href=@Url.Action("VolunteerAllocation", new { id = item._id })><img src="~/Resources/vol.jpg" width="40" height="40" title=@Localizer["VolunteerAllocation"]></a> |
                    <a href=@Url.Action("SponsorAllocation", new { id = item._id })><img src="~/Resources/sponsor.jpg" width="40" height="40" title=@Localizer["SponsorAllocation"]></a>
                </td>
            </tr>
        }
    }
</table>
}