@model BucuriaDarului.Contexts.EventContexts.EventsMainDisplayIndexResponse
@{
    ViewBag.Title = "Events";
}
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd;
                transition: background-color .3s;
            }

        .dropdown-menu {
            width: 500px !important;
        }

        .pagination a.active {
            background-color: red;
            color: red;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination a:current {
            background-color: red;
        }

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .modal-dialog {
            width: 600px;
            height: 700px !important;
        }

        .modal-content {
            /* 80% of window height */

            height: 80%;
        }

        .modal-header {
            background-color: dodgerblue;
            padding: 16px 16px;
            color: white;
            border-bottom: 2px dashed #337AB7;
        }

        .modal-footer {
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<div class="container" style="max-width: 1300px; min-width: 1300px; width: auto;">
    <h2>
        @Localizer["Events"] <small> (@Model.TotalEvents)</small>
    </h2>

    @using (Html.BeginForm("Index", "Event", FormMethod.Get))
    {

        <a href=@Url.Action( "Create")><img src="~/Resources/new_event.png" width="40" height="40" title=@Localizer["CreateNew"]></a>
        @if (Model.TotalEvents != 0)
        {
            <a href=@Url.Action("CsvExporter", new { dictionaryKey = Model.DictionaryKey })><img src="~/Resources/csv.png" width="40" height="40" title=@Localizer["ExportToCsv"]></a>
        }
        <a href=@Url.Action( "Import")><img src="~/Resources/import-csv.png" width="40" height="40" title=@Localizer["UploadFromCsv"]></a>
        <br />

        <p>
            <div class="pagination">
                <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (Model.TotalEvents / Model.PagingData.NrOfDocumentsPerPage) + 1;
                if (Model.TotalEvents % Model.PagingData.NrOfDocumentsPerPage == 0 && Model.TotalEvents != 0)
                {
                    maxpage--;
                }

                if(Model.PagingData.CurrentPage==1)
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = Model.FilterData.NameOfEvent, searchingPlace= Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities , searchingType= Model.FilterData.TypeOfEvent ,  searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor= Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage>=5)
                {
                    @Html.ActionLink("<<", "Index", new { page = Model.PagingData.CurrentPage-1, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage>3)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage-2).ToString(), "Index", new { page = Model.PagingData.CurrentPage-2, searching = Model.FilterData.NameOfEvent,  searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage>2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage-1).ToString(), "Index", new { page = Model.PagingData.CurrentPage-1, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage!=1 && Model.PagingData.CurrentPage!= maxpage)
                {
                    @Html.ActionLink(Model.PagingData.CurrentPage.ToString(), "Index", new { page = Model.PagingData.CurrentPage, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(Model.PagingData.CurrentPage<maxpage-1)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage+1).ToString(), "Index", new { page = Model.PagingData.CurrentPage+1, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage<maxpage-2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage+2).ToString(), "Index", new { page = Model.PagingData.CurrentPage+2, searching = Model.FilterData.NameOfEvent, searchingPlace = Model.FilterData.PlaceOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(Model.PagingData.CurrentPage<maxpage-3)
                {
                    @Html.ActionLink(">>", "Index", new { page = Model.PagingData.CurrentPage+1, searching = Model.FilterData.NameOfEvent, searchingActivity = Model.FilterData.TypeOfActivities,  searchingPlace = Model.FilterData.PlaceOfEvent, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
                if(maxpage!=1 && Model.PagingData.CurrentPage==maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = Model.FilterData.NameOfEvent, searchingActivity = Model.FilterData.TypeOfActivities,  searchingPlace = Model.FilterData.PlaceOfEvent, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = Model.FilterData.NameOfEvent, searchingActivity = Model.FilterData.TypeOfActivities, searchingPlace = Model.FilterData.PlaceOfEvent, searchingType = Model.FilterData.TypeOfEvent, searchingVolunteers = Model.FilterData.AllocatedVolunteers, searchingSponsor = Model.FilterData.AllocatedSponsors, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate })
                }
            }
            </pre>
            </div>
        </p>
    }
    @using (Html.BeginForm("Index", "Event", FormMethod.Get))
    {<a href=@Url.Action("Index") class="btn btn-primary">@Localizer["Show all events"]</a>
    <br />
    <br />
    @if (Model.FilterData.NameOfEvent != "")
    {
        <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["NameOfEvent"]:@Model.FilterData.NameOfEvent
        </div>
    }
    @if (Model.FilterData.PlaceOfEvent != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["PlaceOfEvent"]:@Model.FilterData.PlaceOfEvent
        </div>
    }
    @if (Model.FilterData.TypeOfActivities != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["TypeOfActivities"]: @Model.FilterData.TypeOfActivities
        </div>
    }
    @if (Model.FilterData.TypeOfEvent != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["TypeOfEvent"]:@Model.FilterData.TypeOfEvent
        </div>
    }
    @if (Model.FilterData.AllocatedVolunteers != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["AllocatedVolunteers"]:@Model.FilterData.AllocatedVolunteers
        </div>
    }
    @if (Model.FilterData.AllocatedSponsors != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["AllocatedSponsors"]:@Model.FilterData.AllocatedSponsors
        </div>
    }
    @if (Model.FilterData.LowerDate > DateTime.MinValue.AddYears(3))
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["LowerDate"]:@Model.FilterData.LowerDate
        </div>
    }

    @if (Model.FilterData.UpperDate > DateTime.MinValue.AddYears(3))
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["UpperDate"]:@Model.FilterData.UpperDate
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Localizer["NameOfEvent"]:

                @Html.TextBox("searching")
            </th>

            <th>
                @Localizer["DateOfEvent"]:
            </th>
            <th>
                @Localizer["NumberOfVolunteersNeeded"]:
            </th>
            <th>
                @Localizer["CurrentlyAllocated"]:
            </th>
            <th>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">@Localizer["Filters"]</button>

                <form method="post" asp-action="Index" asp-controller="Home">
                    <div id="exampleModal" class="modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-lg " role="document">
                            <div class="modal-content" sstyle="max-height: 90vh;">

                                <div class="modal-header">
                                    <h5 class="modal-title">@Localizer["Filters"]:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <br />
                                <div class="modal-body">
                                    <div class="form-group">
                                        <dt class="col-sm-6">@Localizer["PlaceOfEvent"]:</dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("searchingPlace")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["TypeOfActivities"]: </dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("searchingActivity")
                                        </dd>

                                        <dt class="col-sm-6">@Localizer["TypeOfEvent"]: </dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("searchingType")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["AllocatedVolunteers"]: </dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("searchingVolunteers")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["AllocatedSponsors"]:</dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("searchingSponsor")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["LowerDate"]: </dt>
                                        <dd class="col-sm-2">
                                            <input type="date" name="lowerdate">
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["UpperDate"]: </dt>
                                        <dd class="col-sm-2">
                                            <input type="date" name="upperdate">
                                        </dd>
                                    </div>
                                    <hr />
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </th>

            <th></th>
        </tr>

        @if (Model.EmptyDatabase)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["EmptyDatabase"]
                </td>
            </tr>
        }
        else if (Model.TotalEvents == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["NoDocumentsMatchingCriteria"]
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Events)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfEvent)
                    </td>

                    <td>
                        @item.DateOfEvent.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfVolunteersNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberAllocatedVolunteers)
                    </td>

                    <td>
                        <a href=@Url.Action("Edit", new { id = item.Id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
                        <a href=@Url.Action("Details", new { id = item.Id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]></a> |
                        <a href=@Url.Action("Delete", new { id = item.Id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]> </a>|
                        <a href=@Url.Action("VolunteerAllocationDisplay", new { id = item.Id })><img src="~/Resources/vol.jpg" width="40" height="40" title=@Localizer["VolunteerAllocation"]></a> |
                        <a href=@Url.Action("SponsorAllocationDisplay", new { id = item.Id })><img src="~/Resources/sponsor.jpg" width="40" height="40" title=@Localizer["SponsorAllocation"]></a>
                    </td>
                </tr>
            }
        }
    </table>
}
</div>
