@model BucuriaDarului.Contexts.EventContexts.EventsSponsorAllocationDisplayResponse
@{
    ViewBag.Title = "SponsorAllocation";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<head>
    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd; /* Gray */
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: red;
                    color: red;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:current {
                    background-color: red;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<h2>
    @Localizer["SponsorAllocationto"]: @Model.Event.NameOfEvent
</h2>
@using (Html.BeginForm("SponsorAllocationDisplay", "Event", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value=@Localizer["Search"] class="btn btn-primary" />
    <p>
        <div class="pagination">
            <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (Model.TotalSponsors / Model.PagingData.NrOfDocumentsPerPage) + 1;
                if (Model.TotalSponsors % Model.PagingData.NrOfDocumentsPerPage == 0 && Model.TotalSponsors != 0)
                {
                    maxpage--;
                }

                if(Model.PagingData.CurrentPage==1)
                {
                    @Html.ActionLink("1", "SponsorAllocationDisplay", new {id = Model.Event.Id, page = 1, searching = Model.FilterData.NameOfSponsor}, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "SponsorAllocationDisplay", new { id = Model.Event.Id, page = 1, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage >= 5)
                {
                    @Html.ActionLink("<<", "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage - 1, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage > 3)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 2).ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage - 2, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage > 2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 1).ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage - 1, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage != 1 && Model.PagingData.CurrentPage != maxpage)
                {
                    @Html.ActionLink(Model.PagingData.CurrentPage.ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage, searching = Model.FilterData.NameOfSponsor }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(Model.PagingData.CurrentPage < maxpage-1)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 1).ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage + 1, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage < maxpage-2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 2).ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage + 2, searching = Model.FilterData.NameOfSponsor })
                }
                if(Model.PagingData.CurrentPage < maxpage-3)
                {
                    @Html.ActionLink(">>", "SponsorAllocationDisplay", new { id = Model.Event.Id, page = Model.PagingData.CurrentPage + 1, searching = Model.FilterData.NameOfSponsor })
                }
                if(maxpage!=1 && Model.PagingData.CurrentPage == maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = maxpage, searching = Model.FilterData.NameOfSponsor }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "SponsorAllocationDisplay", new { id = Model.Event.Id, page = maxpage, searching = Model.FilterData.NameOfSponsor })
                }
            }
            </pre>
        </div>
    </p>

}

@if (Model.Messages != "" & Model.Messages != null)
{

    <div>
        <h3 style="color:red">
            @Html.DisplayFor(model => Model.Messages)
        </h3>
    </div>


}
<br />
<form action="/Event/SponsorAllocation" method="post">
    <table class="table">
        <tr>
            <th>
                @Localizer["NameOfSponsor"]:
            </th>
            <th>
                @Localizer["PhoneNumber"]:
            </th>
            <th>
                @Localizer["Allocationstatus"]:
            </th>
            <th></th>
        </tr>
        @if (Model.TotalSponsors == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["IndexMessage"]
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Sponsors)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfSponsor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
                    </td>
                    @if (Model.Event.AllocatedSponsors.Contains(item.NameOfSponsor))
                    {
                        <td>
                            <input type="checkbox" checked="checked" name="sponsorids" value="@item.Id" />
                        </td>
                        <td>
                            <input type="hidden" name="evId" value="@Model.Event.Id" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="checkbox" name="sponsorIds" value="@item.Id" />
                        </td>
                        <td>
                            <input type="hidden" name="evId" value="@Model.Event.Id" />
                        </td>
                    }
                </tr>
            }
        }
    </table>
    <input type="submit" name="submit" class="btn btn-primary" value=@Localizer["Allocate"] /> | <a href=@Url.Action( "Index" ) class="profile-edit-btn" name="btnAddMore">@Localizer["BackToList"]</a>
</form>