@model BucuriaDarului.Contexts.EventsVolunteerAllocationDisplayResponse
@{
    ViewBag.Title = "VolunteerAllocation";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<head>
    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd; /* Gray */
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: red;
                    color: red;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:current {
                    background-color: red;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<h2>
    @Localizer["VolunteerAllocationto"]: @Model.Event.NameOfEvent
</h2>
@using (Html.BeginForm("VolunteerAllocation", "Event", FormMethod.Get))
{@Html.TextBox("searching")
<input type="submit" value=@Localizer["Search"] class="btn btn-primary" />
<p>
    <div class="pagination">
        <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (Model.TotalVolunteers / Model.PagingData.NrOfDocumentsPerPage) + 1;
                if (Model.TotalVolunteers % Model.PagingData.NrOfDocumentsPerPage == 0 && Model.TotalVolunteers != 0)
                {
                    maxpage--;
                }

                if(Model.PagingData.CurrentPage==1)
                {
                    @Html.ActionLink("1", "VolunteerAllocation", new { page = 1, searching = Model.FilterData.NameOfVolunteer}, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "VolunteerAllocation", new { page = 1, searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage >= 5)
                {
                    @Html.ActionLink("<<", "VolunteerAllocation", new { page = Model.PagingData.CurrentPage - 1, searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage > 3)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 2).ToString(), "VolunteerAllocation", new { page = Model.PagingData.CurrentPage - 2,  searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage > 2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 1).ToString(), "VolunteerAllocation", new { page = Model.PagingData.CurrentPage - 1, searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage != 1 && Model.PagingData.CurrentPage != maxpage)
                {
                    @Html.ActionLink(Model.PagingData.CurrentPage.ToString(), "VolunteerAllocation", new { page = Model.PagingData.CurrentPage, searching = Model.FilterData.NameOfVolunteer }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(Model.PagingData.CurrentPage < maxpage -1)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 1).ToString(), "VolunteerAllocation", new { page = Model.PagingData.CurrentPage + 1, searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage < maxpage -2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 2).ToString(), "VolunteerAllocation", new { page = Model.PagingData.CurrentPage + 2, searching = Model.FilterData.NameOfVolunteer })
                }
                if(Model.PagingData.CurrentPage < maxpage -3)
                {
                    @Html.ActionLink(">>", "VolunteerAllocation", new { page = Model.PagingData.CurrentPage + 1, searching = Model.FilterData.NameOfVolunteer })
                }
                if(maxpage!=1 && Model.PagingData.CurrentPage == maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "VolunteerAllocation", new { page = maxpage, searching = Model.FilterData.NameOfVolunteer }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "VolunteerAllocation", new { page = maxpage, searching = Model.FilterData.NameOfVolunteer })
                }
            }
            </pre>
    </div>
</p>

}
<br />
<form action="/Event/VolunteerAllocation" method="post">
    <table class="table">
        <tr>
            <th>
                @Localizer["Fullname"]:
            </th>
            <th>
                @Localizer["Desiredarea"]:
            </th>
            <th>
                @Localizer["Active"]:
            </th>
            <th>
                @Localizer["Hourcount"]:
            </th>
            <th>
                @Localizer["Allocationstatus"]:
            </th>
            <th></th>
        </tr>
        @if (Model.TotalVolunteers == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["There is no Volunteer to Allocate with such name!"]
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Volunteers)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desired_workplace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InActivity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HourCount)
                    </td>
                    @if (Model.Event.AllocatedVolunteers.Contains(item.Fullname))
                    {
                        <td>
                            <input type="checkbox" checked="checked" name="volunteerIds" value="@item._id" />
                        </td>
                        <td>
                            <input type="hidden" name="evId" value="@Model.Event._id" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="checkbox" name="volunteerIds" value="@item._id" />
                        </td>
                        <td>
                            <input type="hidden" name="evId" value="@Model.Event._id" />
                        </td>
                    }
                </tr>
            }
        }
    </table>
    <input type="submit" name="submit" class="btn btn-primary" value=@Localizer["Allocate"] /> | <a href=@Url.Action( "Index" ) class="profile-edit-btn" name="btnAddMore">@Localizer["BackToList"]</a>
    <br />
</form>
<br />