@model IEnumerable<Finalaplication.Models.Sponsor>
@{
    ViewData["Title"] = "Contract Expiration";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>@Localizer["ContractExpiration"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["NameOfSponsor"]
            </th>
            <th>
                @Localizer["PhoneNumber"]
            </th>
            <th>
                @Localizer["EmailAddress"]
            </th>
            <th>
                @Localizer["ExpirationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfSponsor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.MailAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
                </td>
                <td>
                    <a href=@Url.Action( "Details", new { id = item._id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]> </a>
                </td>
            </tr>
        }
    </tbody>
</table>