@model BucuriaDarului.Core.Sponsor
@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
<h1>
    @Localizer["Details"] @Localizer["Sponsor"]
</h1>
<hr />
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6"><label>@Localizer["NameOfSponsor"]:</label></div>
                <div class="col-md-6"> @Html.DisplayFor(model => model.NameOfSponsor)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> <label>   @Localizer["PhoneNumber"]:</label></div>
                <div class="col-md-6">  @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"><label>@Localizer["EmailAddress"]: </label></div>
                <div class="col-md-6">   @Html.DisplayFor(model => model.ContactInformation.MailAddress)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> <label> @Localizer["HasContract"]: </label></div>
                <div class="col-md-6"> @Html.DisplayFor(model => model.Contract.HasContract)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label>  @Localizer["NumberOfRegistration"]:</label>
                </div>
                <div class="col-md-6"> @Html.DisplayFor(model => model.Contract.NumberOfRegistration)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"><label>@Localizer["RegistrationDate"]: </label></div>
                <div class="col-md-6">  @Model.Contract.ExpirationDate.ToShortDateString()<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"><label> @Localizer["ExpirationDate"]: </label></div>
                <div class="col-md-6">  @Model.Contract.ExpirationDate.ToShortDateString()<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"><label> @Localizer["Date"]:</label></div>
                <div class="col-md-6">  @Model.Sponsorship.Date.ToShortDateString()<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> <label> @Localizer["MoneyAmount"]: </label></div>
                <div class="col-md-6">  @Html.DisplayFor(model => model.Sponsorship.MoneyAmount)<hr /> </div>
            </div>
            <div class="row">
                <div class=" col-md-6"><label>@Localizer["WhatGoods"]: </label></div>
                <div class="col-md-6"> @Html.DisplayFor(model => model.Sponsorship.WhatGoods)<hr /></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> <label>@Localizer["GoodsAmount"]: </label></div>
                <div class="col-md-6">  @Html.DisplayFor(model => model.Sponsorship.GoodsAmount)<hr /></div>
            </div>
        </div>
        <div class="col-md-3">
            <a href=@Url.Action( "Edit", new { id = Model.Id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
            <button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
        </div>
    </div>
</div>