@model BucuriaDarului.Core.Sponsor
@{
    ViewBag.Title = "Edit";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Edit"] @Localizer["Sponsor"]</h2>
<hr />
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
<div>
    <h3 style="color: red">
        @ViewBag.message
    </h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id, new { Id = Model.Id })
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6"><label>@Localizer["NameOfSponsor"]:</label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NameOfSponsor, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.NameOfSponsor, "", new { @class = "text-danger" })<hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>   @Localizer["PhoneNumber"]:</label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ContactInformation.PhoneNumber, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "15" } })
                        @Html.ValidationMessageFor(model => model.ContactInformation.PhoneNumber, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">  <label>@Localizer["EmailAddress"]: </label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ContactInformation.MailAddress, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.ContactInformation.MailAddress, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label> @Localizer["HasContract"]: </label></div>
                    <div class="col-md-6">
                        <div style=" padding-left:20px; padding-bottom:2px !important">
                            @Html.EditorFor(model => model.Contract.HasContract)
                        </div>
                        @Html.ValidationMessageFor(model => model.Contract.HasContract, "", new { @class = "text-danger" })<hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">  <label>  @Localizer["NumberOfRegistration"]:</label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Contract.NumberOfRegistration, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "30" } })
                        @Html.ValidationMessageFor(model => model.Contract.NumberOfRegistration, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>@Localizer["RegistrationDate"]: </label></div>
                    <div class="col-md-6">
                        @if (Model.Contract.RegistrationDate < DateTime.MinValue.AddYears(3))
                        {
                            <input class="form-control" type="date" name="Contract.RegistrationDate" />
                            @Html.ValidationMessageFor(model => model.Contract.RegistrationDate, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            <input class="form-control" type="date" name="Contract.RegistrationDate" value="@Model.Contract.RegistrationDate.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(model => model.Contract.RegistrationDate, "", new { @class = "text-danger" })
                        }
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label> @Localizer["ExpirationDate"]: </label></div>
                    <div class="col-md-6">
                        @if (Model.Contract.ExpirationDate < DateTime.MinValue.AddYears(3))
                        {
                            <input class="form-control" type="date" name="Contract.ExpirationDate" />
                            @Html.ValidationMessageFor(model => model.Contract.ExpirationDate, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            <input class="form-control" type="date" name="Contract.ExpirationDate" value="@Model.Contract.ExpirationDate.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(model => model.Contract.ExpirationDate, "", new { @class = "text-danger" })
                        }
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label> @Localizer["DateOfSponsorship"]:</label></div>
                    <div class="col-md-6">
                        @if (Model.Sponsorship.Date < DateTime.MinValue.AddYears(3))
                        {
                            <input class="form-control" type="date" name="Sponsorship.Date" />
                            @Html.ValidationMessageFor(model => model.Sponsorship.Date, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            <input class="form-control" type="date" name="Sponsorship.Date" value="@Model.Sponsorship.Date.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(model => model.Sponsorship.Date, "", new { @class = "text-danger" })
                        } 
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label> @Localizer["MoneyAmount"]: </label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Sponsorship.MoneyAmount, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "40" } })
                        @Html.ValidationMessageFor(model => model.Sponsorship.MoneyAmount, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>@Localizer["WhatGoods"]: </label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Sponsorship.WhatGoods, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "200" } })
                        @Html.ValidationMessageFor(model => model.Sponsorship.WhatGoods, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label>@Localizer["GoodsAmount"]: </label></div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Sponsorship.GoodsAmount, new { htmlAttributes = new { @data_val = "false", @class = "form-control", maxlength = "200" } })
                        @Html.ValidationMessageFor(model => model.Sponsorship.GoodsAmount, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary" /> |
                <button type="button" name="cancel" class="btn btn-primary" onclick=" history.go(-1)">@Localizer["BackToList"]</button>
            </div>
        </div>
    </div>
}