@model BucuriaDarului.Contexts.SponsorContexts.SponsorsMainDisplayIndexResponse
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Sponsors"];
}
<head>
    <style>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" > </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" > </script>

        .pagination {
                                                                                                                                                                                                              display: inline-block;
                                                                                                                                                                                                              width: 800px;
                                                                                                                                                                                                          }

        .dropdown-menu {
            width: 500px !important;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
            border: 1px solid #ddd; /* Gray */
            transition: background-color .3s;
        }

        .pagination a.active {
            background-color: red;
            color: red;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .modal-dialog {
            width: 600px;
            height: 800px !important;
        }

        .modal-content {
            /* 80% of window height */
            height: 80%;
        }

        .modal-header {
            background-color: dodgerblue;
            padding: 16px 16px;
            color: white;
            border-bottom: 2px dashed #337AB7;
        }

        .modal-footer {
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<div class="container" style="max-width: 1300px; min-width: 1300px; width: auto;">
    <h2>@Localizer["Sponsors"] <small> (@Model.TotalSponsors)</small></h2>
    <hr />
    @if (ViewBag.wrongorder == true)
    {
        <h3 style="color:red">@Localizer["TheDateOfActiveCant"]</h3>
    }
    @using (Html.BeginForm("Index", "Sponsor", FormMethod.Get))
    {

        <a href=@Url.Action( "Create")><img src="~/Resources/new_sponsor.png" width="40" height="40" title=@Localizer["CreateNew"]></a>
        @if (Model.TotalSponsors != 0)
        {
            <a href=@Url.Action("CSVExporter", new { dictionaryKey = Model.DictionaryKey })><img src="~/Resources/csv.png" width="40" height="40" title=@Localizer["ExportToCsv"]></a>
        }
        <a href=@Url.Action( "Import")><img src="~/Resources/import-csv.png" width="40" height="40" title=@Localizer["UploadFromCsv"]></a>

        <p>
            <div class="pagination">
                <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (Model.TotalSponsors / Model.PagingData.NrOfDocumentsPerPage) + 1;
                if (Model.TotalSponsors % Model.PagingData.NrOfDocumentsPerPage == 0 && Model.TotalSponsors != 0)
                {
                    maxpage--;
                }

                if(Model.PagingData.CurrentPage == 1)
                {
                    @Html.ActionLink("1", "Index", new { page = 1, sponsorName = Model.FilterData.NameOfSponsor,  ContactInfo= Model.FilterData.ContactInfo,  lowerdate= Model.FilterData.LowerDate , upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract ,   WhatGoods = Model.FilterData.WhatGoods,  GoodsAmount = Model.FilterData.GoodsAmount ,   MoneyAmount = Model.FilterData.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "Index", new { page = 1, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract, WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage >= 5)
                {
                    @Html.ActionLink("<<", "Index", new { page = Model.PagingData.CurrentPage - 1, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract , WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage > 3)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 2).ToString(), "Index", new { page = Model.PagingData.CurrentPage - 2, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract, WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage > 2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage - 1).ToString(), "Index", new { page = Model.PagingData.CurrentPage - 1, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract, WhatGoods = Model.FilterData.WhatGoods, GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage != 1 && Model.PagingData.CurrentPage != maxpage)
                {
                    @Html.ActionLink(Model.PagingData.CurrentPage.ToString(), "Index", new { page = Model.PagingData.CurrentPage, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract , WhatGoods = Model.FilterData.WhatGoods, GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(Model.PagingData.CurrentPage < maxpage-1)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 1).ToString(), "Index", new { page = Model.PagingData.CurrentPage + 1, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract, WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage < maxpage-2)
                {
                    @Html.ActionLink((Model.PagingData.CurrentPage + 2).ToString(), "Index", new { page = Model.PagingData.CurrentPage + 2, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract , WhatGoods = Model.FilterData.WhatGoods, GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(Model.PagingData.CurrentPage < maxpage-3)
                {
                    @Html.ActionLink(">>", "Index", new { page = Model.PagingData.CurrentPage + 1, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo, lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract , WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
                if(maxpage!=1 && Model.PagingData.CurrentPage == maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract , WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, sponsorName = Model.FilterData.NameOfSponsor, ContactInfo = Model.FilterData.ContactInfo , lowerdate = Model.FilterData.LowerDate, upperdate = Model.FilterData.UpperDate, HasContract = Model.FilterData.HasContract, WhatGoods = Model.FilterData.WhatGoods , GoodsAmount = Model.FilterData.GoodsAmount, MoneyAmount = Model.FilterData.MoneyAmount })
                }
            }
            </pre>
            </div>
        </p>
    }
    @using (Html.BeginForm("Index", "Sponsor", FormMethod.Get))
    {<a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["Show all sponsors"]</a>
    <br />
    <br />
    @if (Model.FilterData.NameOfSponsor != "")
    {
        <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["NameOfSponsor"]:@Model.FilterData.NameOfSponsor
        </div>
    }
    @if (Model.FilterData.ContactInfo != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["ContactInfo"]:@Model.FilterData.ContactInfo
        </div>
    }
    @if (Model.FilterData.HasContract != false)
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["HasContract"]:@Model.FilterData.HasContract
        </div>
    }
    @if (Model.FilterData.WhatGoods != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["WhatGoods"]:@Model.FilterData.WhatGoods
        </div>
    }
    @if (Model.FilterData.MoneyAmount != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["MoneyAmount"]:@Model.FilterData.MoneyAmount
        </div>
    }
    @if (Model.FilterData.GoodsAmount != "")
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["GoodsAmount"]:@Model.FilterData.GoodsAmount
        </div>
    }
    @if (Model.FilterData.LowerDate > DateTime.MinValue.AddYears(3))
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["LowerDate"]:@Model.FilterData.LowerDate
        </div>
    }

    @if (Model.FilterData.UpperDate > DateTime.MinValue.AddYears(3))
    {<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
            @Localizer["UpperDate"]:@Model.FilterData.UpperDate
        </div>
    }
    <table class="table" style="text-align: center">
        <tr>
            <th style="width: 220px">
                @Localizer["NameOfSponsor"]
                @Html.TextBox("sponsorName")
            </th>
            <th>
                @Localizer["PhoneNumber"]
            </th>
            <th>
                @Localizer["EmailAddress"]
            </th>
            <th>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">@Localizer["Filters"]</button>
                <input type="submit" value=@Localizer["Search"] class="btn btn-primary" />

                <form method="post" asp-action="Index" asp-controller="Home">
                    <div id="exampleModal" class="modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-lg " role="document">
                            <div class="modal-content" sstyle="max-height: 90vh;">

                                <div class="modal-header">
                                    <h5 class="modal-title">@Localizer["Filters"]:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <br />
                                <div class="modal-body" style="text-align:left">
                                    <div class="form-group">
                                        <dt class="col-sm-6"> </dt>
                                        <dd class="col-sm-2"></dd>
                                        <dt class="col-sm-6"> </dt>
                                        <dd class="col-sm-2"></dd>
                                        <dt class="col-sm-6"> </dt>
                                        <dd class="col-sm-2"></dd>
                                        <dt class="col-sm-6">@Localizer["ContactInfo"]:</dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("ContactInfo")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["LowerDate"]: </dt>
                                        <dd class="col-sm-2">
                                            <input type="date" name="lowerDate">
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["UpperDate"]: </dt>
                                        <dd class="col-sm-2">
                                            <input type="date" name="upperDate">
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["HasContract"]: </dt>
                                        <dd class="col-sm-2">
                                            @Html.CheckBox("hasContract")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["WhatGoods"]:</dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("whatGoods")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["GoodsAmount"]: </dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("goodsAmounts")
                                        </dd>
                                        <dt class="col-sm-6">@Localizer["MoneyAmount"]:</dt>
                                        <dd class="col-sm-2">
                                            @Html.TextBox("moneyAmount")
                                        </dd>
                                    </div>
                                    <hr />
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </th>

            <th></th>
        </tr>

        @if (Model.EmptyDatabase)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["EmptyDatabase"]
                </td>
            </tr>
        }
        else if (Model.TotalSponsors == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    @Localizer["NoDocumentsMatchingCriteria"]
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Sponsors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfSponsor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactInformation.MailAddress)
                    </td>
                    <td width="500px;">
                        <a href=@Url.Action("Edit", new { id = item.Id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
                        <a href=@Url.Action("Details", new { id = item.Id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]></a> |
                        <a href=@Url.Action("Delete", new { id = item.Id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]></a>
                    </td>
                </tr>
            }}
    </table>
}
</div>
