@model IEnumerable<Finalaplication.Models.Sponsor>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Index";
    int currentpage = ViewBag.Page;
    string stringofids = ViewBag.stringofids;
    string string1 = ViewBag.Filters1;
    string string2 = ViewBag.Filters2;
    string string3 = ViewBag.Filters3;
    string string4 = ViewBag.Filters4;
    string string5 = ViewBag.Filters5;
    string string6 = ViewBag.Filters6;
    string string7 = ViewBag.Filters7;
    string string8 = ViewBag.Filters8;
}
<head>
    <style>

        .pagination {
            display: inline-block;
            width: 800px;
        }
        .dropdown-menu {
            width: 500px !important;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #ddd; /* Gray */
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: red;
                    color: red;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<h2>@Localizer["Sponsors"] <small> (@ViewBag.counter)</small></h2>
<hr />
@if (ViewBag.wrongorder == true)
{
    <h3 style="color:red">@Localizer["The date of active till cant be smaller that that of activesince!"]</h3>
}
@using (Html.BeginForm("Index", "Sponsor", FormMethod.Get))
{

    <a href=@Url.Action( "Create")><img src="~/Resources/new_sponsor.png" width="40" height="40" title=@Localizer["CreateNew"]></a>
    <a href=@Url.Action("CSVExporter")><img src="~/Resources/csv.png" width="40" height="40" title=@Localizer["ExportToCsv"]></a>
    <a href=@Url.Action( "Import")><img src="~/Resources/import-csv.png" width="40" height="40" title=@Localizer["UploadFromCsv"]></a>

    <p>
        <div class="pagination">
            <pre style="white-space:pre-wrap;">
            @{
                int maxpage = (ViewBag.counter / ViewBag.nrofdocs) + 1;
                if (ViewBag.counter % ViewBag.nrofdocs == 0 && ViewBag.counter != 0)
                {
                    maxpage--;
                }

                if(currentpage==1)
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = ViewBag.searching,  ContactInfo= ViewBag.Contact,  lowerdate= ViewBag.Lowerdate , upperdate= ViewBag.Upperdate, HasContract= ViewBag.HasContract ,   WhatGoods= ViewBag.WhatGoods,  GoodsAmount= ViewBag.GoodsAmount ,   MoneyAmount= ViewBag.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else
                {
                    @Html.ActionLink("1", "Index", new { page = 1, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract, WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage>=5)
                {
                    @Html.ActionLink("<<", "Index", new { page = currentpage-1, searching = ViewBag.searching, ContactInfo = ViewBag.Contact, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract , WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage>3)
                {
                    @Html.ActionLink((currentpage-2).ToString(), "Index", new { page = currentpage-2, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract, WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage>2)
                {
                    @Html.ActionLink((currentpage-1).ToString(), "Index", new { page = currentpage-1, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract, WhatGoods = ViewBag.WhatGoods, GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage!=1 && currentpage!= maxpage)
                {
                    @Html.ActionLink(currentpage.ToString(), "Index", new { page = currentpage, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract , WhatGoods = ViewBag.WhatGoods, GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                if(currentpage<maxpage-1)
                {
                    @Html.ActionLink((currentpage+1).ToString(), "Index", new { page = currentpage+1, searching = ViewBag.searching, ContactInfo = ViewBag.Contact, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract, WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage<maxpage-2)
                {
                    @Html.ActionLink((currentpage+2).ToString(), "Index", new { page = currentpage+2, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract , WhatGoods = ViewBag.WhatGoods, GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                if(currentpage<maxpage-3)
                {
                    @Html.ActionLink(">>", "Index", new { page = currentpage+1, searching = ViewBag.searching, ContactInfo = ViewBag.Contact, lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract , WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
                 if(maxpage!=1 && currentpage==maxpage)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract , WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount }, new { Style = "background-color:lightgray;  color:black; border-radius: 5px;" })
                }
                else if (maxpage != 1)
                {
                    @Html.ActionLink(maxpage.ToString(), "Index", new { page = maxpage, searching = ViewBag.searching, ContactInfo = ViewBag.Contact , lowerdate = ViewBag.Lowerdate, upperdate = ViewBag.Upperdate, HasContract = ViewBag.HasContract, WhatGoods = ViewBag.WhatGoods , GoodsAmount = ViewBag.GoodsAmount, MoneyAmount = ViewBag.MoneyAmount })
                }
            }
            </pre>
        </div>
    </p>
}
@using (Html.BeginForm("Index", "Sponsor", FormMethod.Get))
{<a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["Show all sponsors"]</a>
<br />
@if (string1 != null)
{
    <div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Nameofsponsor"]:@string1
    </div>
}
@if (string2 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["ContactInfo"]:@string2
        :@string2
    </div>
}
@if (string3 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["HasContract"]
    </div>
}
@if (string4 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Whatgoods"]:@string4
    </div>
}
@if (string5 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Moneyamount"]:@string5
    </div>
}
@if (string6 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Goodsamount"]:@string6
    </div>
}
@if (string7 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["Inntinf"]:@string7
    </div>
}

@if (string8 != null)
{<div class="badge badge-primary text-wrap" style="width: 10rem; background-color:lightgrey; color:black ">
        @Localizer["intsuo"]:@string8
    </div>
}
<table class="table" style="text-align:top">
    <tr>
        <th>
            @Localizer["Nameofsponsor"]
            @Html.TextBox("searching")
        </th>
        <th>
            @Localizer["Phonenumber"]
        </th>
        <th>
            @Localizer["Emailaddrss"]
        </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Filters"]:
                </button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;overflow: scroll;">
                    <dt class="col-sm-6">@Localizer["ContactInfo"]:</dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("ContactInfo")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Inntinf"]: </dt>
                    <dd class="col-sm-2">
                        <input type="date" name="lowerdate">
                    </dd>
                    <dt class="col-sm-6">@Localizer["intsuo"]: </dt>
                    <dd class="col-sm-2">
                        <input type="date" name="upperdate">
                    </dd>
                    <dt class="col-sm-6">@Localizer["HasContract"]: </dt>
                    <dd class="col-sm-2">
                        @Html.CheckBox("HasContract")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Whatgoods"]:</dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("WhatGoods")
                    </dd>
                    <dt class="col-sm-7">@Localizer["Goodsamount"]: </dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("GoodsAmounts")
                    </dd>
                    <dt class="col-sm-6">@Localizer["Moneyamount"]: </dt>
                    <dd class="col-sm-2">
                        @Html.TextBox("MoneyAmount")
                    </dd>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Localizer["Search"]
                </button>
                <dd></dd>
            </div>
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3 " style="color:red">
                @Localizer["Message"]
            </td>
        </tr>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfSponsor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.MailAdress)
                </td>
                <td width="500px;">
                    <a href=@Url.Action("Edit", new { id = item._id })><img src="~/Resources/edit.jpg" width="40" height="40" title=@Localizer["Edit"]></a> |
                    <a href=@Url.Action("Details", new { id = item._id })><img src="~/Resources/detali.jpg" width="40" height="40" title=@Localizer["Details"]></a> |
                    <a href=@Url.Action("Delete", new { id = item._id })><img src="~/Resources/delete.jpg" width="40" height="40" title=@Localizer["Delete"]></a>
                </td>
            </tr>
        }}
</table>
}