@model Finalaplication.Models.Beneficiarycontract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
    string idofbeneficiary = Model.OwnerID;
}
<h3>
    @Localizer["beneficiary contract"]
</h3>
<h4>@Localizer["Message"]</h4>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["NumberOfRegistration"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["RegistrationDate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["ExpirationDate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="idofbeneficiary" value="@idofbeneficiary" />
            <input type="submit" value=@Localizer["Delete"] class="btn btn-primary" /> |
            <a href=@Url.Action( "Index", new { idofbeneficiary = idofbeneficiary } ) class="btn btn-primary">@Localizer["BackToList"]</a>
        </div>
    }
</div>
