@model IEnumerable<Finalaplication.Models.Sponsor>

@{
    ViewData["Title"] = "Contract Expiration";
}

<h1>Contract Expiration</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name of sponsor")
            </th>
            <th>
                @Html.DisplayName("Phone number")
            </th>
            <th>
                @Html.DisplayName("Email address")
            </th>
            <th>
                @Html.DisplayName("Expiration date")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
   
    if (item.GetDayExpiration(item.Contract.ExpirationDate)==true)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfSponsor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInformation.MailAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SponsorID })
            </td>

        </tr>
    }
}
    </tbody>
</table>
