@model IEnumerable<Finalaplication.Models.Sponsor>

@{
    ViewData["Title"] = "Contract Expiration";
}

<h1>Contract Expiration</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfSponsor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInformation.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInformation.MailAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    var Day = Finalaplication.Models.Volunteer.Nowdate();
    var volexp = Finalaplication.Models.Sponsor.Sponsorexp(item);
    if ((Day <= volexp && Day + 20 > volexp) || (Day > 345 && 365 - (Day + 365 - Day - 2) >= volexp))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfSponsor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInformation.MailAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SponsorID })
            </td>

        </tr>
    }
}
    </tbody>
</table>
