@model IEnumerable<Finalaplication.Models.Sponsor>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "CSVSaver";
    string IDS = ViewBag.IDS;
}
<head>
    <style>
        text {
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: center;
        }
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<h1>CSVSaver</h1>


@using (Html.BeginForm("CSVSaver", "Sponsor/", FormMethod.Post))
{

    <h3>
        @Localizer["Please choose what you want the Excel to contain"]:
    </h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            @Localizer["Select the properties"]:

        </button>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> @Html.CheckBox("All", isChecked: true) @Localizer["Check this for all fields"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("NameOfSponsor", isChecked: false)  @Localizer["Nameofsponsor"] </a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("Date", isChecked: false) @Localizer["Date"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("MoneyAmount", isChecked: false)  @Localizer["Moneyamount"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("WhatGoods", isChecked: false) @Localizer["Whatgoods"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("GoodsAmount", isChecked: false)  @Localizer["Goodsamount"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("HasContract", isChecked: false) @Localizer["HasContract"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("ContractDetails", isChecked: false) @Localizer["ContractDetails"]</a>
            <a class="dropdown-item" href="#"> @Html.CheckBox("PhoneNumber", isChecked: false) @Localizer["Phonenumber"]</a>
            <a class="dropdown-item" href="#">  @Html.CheckBox("MailAdress", isChecked: false) @Localizer["Emailaddress"]</a>
           
        </div>
    </div>





    @Html.Hidden("IDS", IDS)

    <div class="row align-items-center">
        <div class="col-3">
            <br />
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Localizer["Export"]
            </button>
      
                <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["BackToList"]</a>
            
        </div>
    </div>
    <br />
}
<br />

