@model Finalaplication.Models.Sponsor

@{
    ViewData["Title"] = "Delete";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>@Localizer["Delete"] @Localizer["Sponsor"]</h1>

<h3>@Localizer["Message1"]</h3>
<hr />
<head>
    <style>
        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6"><label>@Localizer["Nameofsponsor"]:</label></div>
                    <div class="col-md-6"> @Html.DisplayFor(model => model.NameOfSponsor)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label>   @Localizer["Phonenumber"]:</label></div>
                    <div class="col-md-6">  @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>@Localizer["Emailaddress"]: </label></div>
                    <div class="col-md-6">   @Html.DisplayFor(model => model.ContactInformation.MailAdress)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label> @Localizer["HasContract"]: </label></div>
                    <div class="col-md-6"> @Html.DisplayFor(model => model.Contract.HasContract)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <label>  @Localizer["Numberofregistration"]:</label>
                    </div>
                    <div class="col-md-6"> @Html.DisplayFor(model => model.Contract.NumberOfRegistration)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>@Localizer["Registrationdate"]: </label></div>
                    <div class="col-md-6"> @Html.DisplayFor(model => model.Contract.RegistrationDate)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label> @Localizer["Expirationdate"]: </label></div>
                    <div class="col-md-6">  @Html.DisplayFor(model => model.Contract.ExpirationDate)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label> @Localizer["Date"]:</label></div>
                    <div class="col-md-6">  @Html.DisplayFor(model => model.Sponsorship.Date)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label> @Localizer["Moneyamount"]: </label></div>
                    <div class="col-md-6">  @Html.DisplayFor(model => model.Sponsorship.MoneyAmount)<hr /> </div>
                </div>
                <div class="row">
                    <div class=" col-md-6"><label>@Localizer["Whatgoods"]: </label></div>
                    <div class="col-md-6"> @Html.DisplayFor(model => model.Sponsorship.WhatGoods)<hr /></div>
                </div>
                <div class="row">
                    <div class=" col-md-6"> <label>@Localizer["Goodsamount"]: </label></div>
                    <div class="col-md-6">  @Html.DisplayFor(model => model.Sponsorship.GoodsAmount)<hr /></div>
                </div>
            </div>

            <div class="col-md-3">
                <input type="submit" value=@Localizer["Delete"] class="btn btn-primary" /> |
                <a href=@Url.Action( "Index" ) class="profile-edit-btn" name="btnAddMore">@Localizer["BackToList"]</a>
            </div>
        </div>
    </div>
}