@model Finalaplication.Models.Sponsor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sponsor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Name of sponsor:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameOfSponsor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Phone number:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email address:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.MailAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Has contract:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.HasContract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Number of registration:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.NumberOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Registration date:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Expiration date:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Date:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsorship.Date)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayName("Money amount:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsorship.MoneyAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("What goods")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsorship.WhatGoods)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.SponsorID }) |
    <a asp-action="Index">Back to List</a>
</div>
