@model Finalaplication.Models.Sponsor

@{
    ViewBag.Title = "Edit";
}

<h2> Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sponsor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Name of sponsor:
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfSponsor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOfSponsor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Phone number:
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactInformation.PhoneNumber, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactInformation.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Email addrss:
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactInformation.MailAdress, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactInformation.MailAdress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Has Contract?
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Contract.HasContract)
                    @Html.ValidationMessageFor(model => model.Contract.HasContract, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            Number of registration:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contract.NumberOfRegistration, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contract.NumberOfRegistration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Registration date:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contract.RegistrationDate, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contract.RegistrationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Expiration date:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contract.ExpirationDate, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contract.ExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Date:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsorship.Date, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sponsorship.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Money amount:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsorship.MoneyAmount, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sponsorship.MoneyAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Goods amount:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsorship.GoodsAmount, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sponsorship.GoodsAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            What goods?
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsorship.WhatGoods, new { htmlAttributes = new { @data_val = "false", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sponsorship.WhatGoods, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



