@model IEnumerable<Finalaplication.Models.Sponsor>

@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Sponsor/", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfSponsor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInformation.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInformation.MailAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.HasContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.NumberOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3 " style="color:red">
                    There is no Sponsor with such name!
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfSponsor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.MailAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.HasContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.NumberOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.ExpirationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SponsorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SponsorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SponsorID })
                </td>
            </tr>
            }}
        </tbody>
</table>
