@{
    ViewData["Title"] = "Home page";
    var numberOfBirtdays = ViewBag.NumberOfBirtdays;
    var numberOfVolunteerContracts = ViewBag.NumberOfVolunteerContracts;
    var numberOfSponsorContracts = ViewBag.NumberOfSponsorContracts;
    var numberOfBeneficiaryContracts = ViewBag.NumberOfBeneficiaryContracts;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="text-center">
    <img src="~/Resources/BucuriaDarului.jpg" height="70%" width="70%" />
</div>
<br />
<br />
<br />

<style>

    .i-circle {
        background: #ff0000;
        color: #fff;
        padding: 5px 12px;
        border-radius: 50%;
        font-size: 15px;
    }

    .button {
        display: inline-block;
        background-color: dodgerblue;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: all 0.5s;
    }
</style>
<div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="../Volunteer/Birthday" style="text-decoration:none">
                <img src="~/Resources/poza5.jpg" width="70%" height="70%" />
                <span class="i-circle"> @numberOfBirtdays</span><div class="card-img-overlay "> </div>
                <p style="font-family:'Arial Black';">@Localizer["Volunteers : Birthday Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Volcontract/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza3.jpg" width="70%" height="70%" />
                <span class="i-circle"> @numberOfVolunteerContracts</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Volunteers : Contract Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Sponsor/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza2.jpg" width="70%" height="70%" />
                <span class="i-circle"> @numberOfSponsorContracts</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Sponsors : Contract Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Beneficiarycontract/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza1.jpg" width="70%" height="70%" />
                <span class="i-circle"> @numberOfBeneficiaryContracts</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Beneficiaries : Contract Alert"]</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-12">
            <a href="../DatabaseManagement/Servermanagement" style="text-decoration:none">
                <img src="~/Resources/bup.jpg" width="70%" height="70%" />
                <p style="font-family:'Arial Black';">   @Localizer["Servermanagement"]</p>
            </a>
        </div>
    </div>
</div>