@{
    ViewData["Title"] = "Home page";
    var nrbd = ViewBag.nrofbds;
    var nrvc = ViewBag.nrofvc;
    var nrsc = ViewBag.nrofsc;
    var nrbc = ViewBag.nrofbc;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="text-center">
    <img src="~/Resources/BucuriaDarului.jpg" height="70%" width="70%" />
</div>
<br />
<br />

<br />

<style>

    .button {
        display: inline-block;
        background-color: dodgerblue;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: all 0.5s;
    }
</style>
<div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="../Volunteer/Birthday" style="text-decoration:none">
                <img src="~/Resources/poza5.jpg" width="70%" height="70%" />
                <span class="i-circle"> @nrbd</span><div class="card-img-overlay "> </div>
                <p style="font-family:'Arial Black';">@Localizer["Volunteers : Birthday Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Volcontract/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza3.jpg" width="70%" height="70%" />
                <span class="i-circle"> @nrvc</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Volunteers : Contract Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Sponsor/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza2.jpg" width="70%" height="70%" />
                <span class="i-circle"> @nrsc</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Sponsors : Contract Alert"]</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="../Beneficiarycontract/ContractExp" style="text-decoration:none">
                <img src="~/Resources/poza1.jpg" width="70%" height="70%" />
                <span class="i-circle"> @nrbc</span><div class="card-img-overlay "></div>
                <p style="font-family:'Arial Black';">@Localizer["Beneficiaries : Contract Alert"]</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-12">
            <a href="../DatabaseManagement/Servermanagement" style="text-decoration:none">
                <img src="~/Resources/bup.jpg" width="70%" height="70%" />
                <p style="font-family:'Arial Black';">   @Localizer["Backupdata"]</p>
            </a>
        </div>
    </div>
</div>