@{
    ViewData["Title"] = "Home page";
    var nrbd = ViewBag.nrofbds;
    var nrvc = ViewBag.nrofvc;
    var nrsc = ViewBag.nrofsc;
    var nrbc = ViewBag.nrofbc;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

</div>
@if (ViewBag.env == "offline")
{
    <h4 style="color:red">
        @Localizer["You are currently"] @ViewBag.env.
    </h4>
}
<br />

<head>
    <style>
        .i-circle {
            background: #ff0000;
            color: #fff;
            padding: 5px 12px;
            border-radius: 50%;
            font-size: 25px;
        }
    </style>
</head>
<div>
    <h2>
        <span class="i-circle"> @nrbd</span><a href="../Volunteer/Birthday">
            @Localizer["Volunteers : Birthday Alert"]
        </a>
    </h2>
    <h2>
        <span class="i-circle"> @nrvc</span><a href="../Volcontract/ContractExp">
            @Localizer["Volunteers : Contract Alert"]
        </a>
    </h2>
    <h2>
        <span class="i-circle"> @nrsc</span><a href="../Sponsor/ContractExp">
            @Localizer["Sponsors : Contract Alert"]
        </a>
    </h2>
    <h2>
        <span class="i-circle"> @nrbc</span><a href="../Beneficiary/ContractExp">
            @Localizer["Beneficiaries : Contract Alert"]
        </a>
    </h2>
    <h2>
        <a href="../Event/Export">
            @Localizer["Export events to Excel"]
        </a>
    </h2>
    <h2>
        <a href="../Volunteer/ExportVolunteers">
            @Localizer["Export volunteers to Excel"]
        </a>
    </h2>
    <h2>
        <a href="../Sponsor/ExportSponsors">
            @Localizer["Export sponsors to Excel"]
        </a>
    </h2>
    <h2>
        <a href="../Beneficiary/ExportBeneficiaries">
            @Localizer["Export beneficiaries to Excel"]
        </a>.
    </h2>
    @if (ViewBag.env == "online")
    {
    <h2>
        <a href="../Home/Servermanagement">
            @Localizer["Backupdata"]
        </a>.
    </h2>
    }
</div>


