@{
    ViewData["Title"] = "Settings";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>Settings</h1>

@using (Html.BeginForm("Settings", "Home/", FormMethod.Post))
{
<div class="form-group">

    <h2>
        @Localizer["Environment"]:
    </h2>
    <input type="radio" name="env" value="online"> Online<br>
    <input type="radio" name="env" value="offline"checked> Offline<br>

    <h2>
        @Localizer["Language"]:
    </h2>
    <input type="radio" name="lang" value="en" checked> @Localizer["English"]<br>
    <input type="radio" name="lang" value="ro" />@Localizer["Romanian"]<br>

    <h2>
        @Localizer["message"]:
    </h2>
    <input type="number" name="quantity" class="rounded" value="15" min="1" max="100">
    <br />
    <br />
    <input type="submit" class="btn btn-primary" value=@Localizer["Apply"]>
</div>
}

