@model Finalaplication.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name of event:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfEvent)
        </dd>

        <dt>
            @Html.DisplayName("Place of event:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfEvent)
        </dd>

        <dt>
            @Html.DisplayName("Date of event:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayName("Number of volunteers needed:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVolunteersNeeded)
        </dd>

        <dt>
            @Html.DisplayName("Type of activities:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfActivities)
        </dd>

        <dt>
            @Html.DisplayName("Type of event:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEvent)
        </dd>

        <dt>
            @Html.DisplayName("Duration:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
