@model Finalaplication.Models.Event

@{
    ViewBag.Title = "Delete";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Delete"]</h2>

<h3>
    @Localizer["DeleteMessage"]</h3>
<div>
    
        <dl class="row">
            <dt class="col-sm-2">
                @Localizer["Nameofevent"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameOfEvent)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Placeofevent"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlaceOfEvent)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Dateofevent"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfEvent)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Numberofvolunteersneeded"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfVolunteersNeeded)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Typeofactivities"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeOfActivities)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Typeofevent"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeOfEvent)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Duration"]:
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@Localizer["Delete"]  class="btn btn-primary" /> |
                <a href=@Url.Action( "Index" )>@Localizer["BackToList"]</a>
            </div>
        }
</div>
