@model Finalaplication.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name of event:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfEvent)
        </dd>
        <dt>
            @Html.DisplayName("Place of event:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceOfEvent)
        </dd>
        <dt>
            @Html.DisplayName("Date of event:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>
        <dt>
            @Html.DisplayName("Number of volunteers needed:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfVolunteersNeeded)
        </dd>
       
        <dt>
            @Html.DisplayName("Type of activities:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfActivities)
        </dd>
        <dt>
            @Html.DisplayName("Type of event:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfEvent)
        </dd>
        <dt>
            @Html.DisplayName("Duration:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayName("Allocated volunteers:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllocatedVolunteers)
        </dd>
        <dt>
            @Html.DisplayName("Allocated sponsors:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllocatedSponsors)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID })|
    @Html.ActionLink("Delete", "Delete", new { id = Model.EventID })|
    @Html.ActionLink("Back to List", "Index")
</p>
