@model Finalaplication.Models.Event

@{
    ViewBag.Title = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>
    @Localizer["Details"]</h2>

<div>
    <h4>
        @Localizer["Event"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Localizer["Nameofevent"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameOfEvent)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Placeofevent"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlaceOfEvent)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Dateofevent"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfEvent)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Numberofvolunteersneeded"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfVolunteersNeeded)
            </dd>

            <dt class="col-sm-2">
                @Localizer["Typeofactivities"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeOfActivities)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Typeofevent"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeOfEvent)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Duration"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Allocatedvolunteers"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AllocatedVolunteers)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Allocatedsponsors"]:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AllocatedSponsors)
            </dd>


        </dl>
</div>
<p>
    <a href=@Url.Action( "Edit", new { id =  Model.EventID})>@Localizer["Edit"]</a> |
    <a href=@Url.Action( "Delete", new { id =  Model.EventID})>@Localizer["Delete"]</a> |

    <a href=@Url.Action( "Index" )>@Localizer["BackToList"]</a>
</p>
