@model Finalaplication.Models.Event
@{
    ViewBag.Title = "Edit";
    string id = ViewBag.id;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>
    @Localizer["Edit"]  @Localizer["Event"]
</h2>
<hr />
<head>
    <style>

        /*body {
                background-color: darkgray;
            }*/
        .emp-profile {
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 1%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .proile-rating {
            font-size: 15px;
            color: #818182;
            margin-top: 5%;
        }

        .emp-profile label {
            font-size: 18px;
            color: black;
            font-weight: 600;
        }

        .emp-profile img {
            padding-right: 2px;
            width: 45px;
            height: 35px;
        }
    </style>
</head>
@if (ViewBag.containsspecialchar == true)
{
    <div><h3 style="color:red">@Localizer["Cannot contain Special character ';' "]</h3></div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@id" />
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <label> @Localizer["Nameofevent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NameOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NameOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Placeofevent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PlaceOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlaceOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label> @Localizer["Dateofevent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DateOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>  @Localizer["Numberofvolunteersneeded"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NumberOfVolunteersNeeded, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumberOfVolunteersNeeded, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Typeofactivities"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TypeOfActivities, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeOfActivities, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Typeofevent"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TypeOfEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeOfEvent, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Localizer["Duration"]:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary" /> |
                <a href=@Url.Action( "Index" ) class="profile-edit-btn" name="btnAddMore">@Localizer["BackToList"]</a>
            </div>
        </div>
    </div>
}