@model Finalaplication.Models.Volcontract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
    string idofvol = Model.OwnerID;
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["message"]</h3>
<div>
    <h4>
        @Localizer["Volcontract"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Localizer["NumberOfRegistration"]
            </dt>
            <dd class="col-sm-10">
                @Localizer["NumberOfRegistration"]
            </dd>
            <dt class="col-sm-2">
                @Localizer["RegistrationDate"]
            </dt>
            <dd class="col-sm-10">
                @Localizer["RegistrationDate"]
            </dd>
            <dt class="col-sm-2">
                @Localizer["ExpirationDate"]
            </dt>
            <dd class="col-sm-10">
                @Localizer["ExpirationDate"]
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" name="idofvol" value="@idofvol" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href=@Url.Action( "Delete", new { idofvol = Model.OwnerID})>@Localizer["Delete"]</a> 
            
        </form>


    <form asp-action="Delete">
        <input type="hidden" name="idofvol" value="@idofvol" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to list", "Index", new { idofvol = Model.OwnerID })
    </form>        

</div>
