@model Finalaplication.Models.Volcontract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
    string idofvol = Model.OwnerID;
}
<h3>
    @Localizer["Volcontract"]
</h3>
<h4>@Localizer["Message"]</h4>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["NumberOfRegistration"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["RegistrationDate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["ExpirationDate"]:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="hidden" name="idofvol" value="@idofvol"/>
        <input type="submit" value=@Localizer["Delete"] class="btn btn-primary" /> |
        <style>
            .button {
                background-color: dodgerblue;
                border: none;
                color: white;
                padding: 10px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .button1 {
                border-radius: 12%;
            }
        </style>
        <a href=@Url.Action( "Index", new { idofvol = idofvol } ) class="button button1">@Localizer["BackToList"]</a>
    </div>
    }
</div>
