@model Finalaplication.Models.Volcontract

@{
    ViewData["Title"] = "Print";
    string volname = ViewBag.volunteername;
    var volbd = ViewBag.volunteerBd;
    string volCNP = ViewBag.volunteerCNP;
    string voladdress = ViewBag.volunteerAddress;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h1>@Localizer["Print"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Fullname"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName(volname)
        </dd>
        <dt class="col-sm-2">
            @Localizer["CNP"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName(volCNP)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Address"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName(voladdress)
        </dd>
        <dt class="col-sm-2">
            @Localizer["NumberOfRegistration"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["RegistrationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["ExpirationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>
</div>
<div>
    <a href=@Url.Action( "Index" ,new { idofvol = Model.OwnerID })>@Localizer["BackToList"]</a>

</div>
